.arablelandManagement .createArableLandForm,
.arablelandManagement .updateArableLandForm {
    margin:auto;
    padding: 20px;
    background: #FAFAFC;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(37.5px);
    border-radius: 5px;
    width: 75%;
    position: relative;
    top:80px;
    transition: all 1s ease-in-out;
}

@media only screen and (max-width: 1430px) {
    .arablelandManagement .createArableLandForm,
    .arablelandManagement .updateArableLandForm {
        width: 90%;
    }
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.arablelandManagement .navigationBar .btnCatalog {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.arablelandManagement .navigationBar .btnArableland {
    display: block;
    width: 88%;
    font-size: 17px;
    background-color: #fff945;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.li-class-arableland{
    width: 23%;
}

.text-location{
    text-decoration: none !important;
    color: #1C1C1F;
}
