.arablelandManagement .createArableLandForm,
.arablelandManagement .updateArableLandForm {
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
    font-family: Inter;
    border-radius: 10px;
    position: absolute;
    top: calc(24%);
    left: 12%;
    width: 75%;
}



.createArableLandForm .messege {
    background-color: #6cc38c;
}

.createArableLandForm .content .error-feedback,
.updateArableLandForm .content .error-feedback {
    color: red;
    float: right;
}


.createArableLandForm .content .form-group label,
.updateArableLandForm .content .form-group label {
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.createArableLandForm .content .form-group .selectBox,
.updateArableLandForm .content .form-group .selectBox {
    width: 100%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.createArableLandForm .content .form-group input,
.updateArableLandForm .content .form-group input {
    float: left;
}

.createArableLandForm .content .form-group .form-control,
.updateArableLandForm .content .form-group .form-control {
    background-color: #FAFAFC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    border-radius: 15px;
    color: #2F3033;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.createArableLandForm .functionName,
.updateArableLandForm .functionName {
    font-family: Inter;
    font-size: 24px;
}

.createArableLandForm .form-group .textMessage2,
.createArableLandForm .form-group .textMessage1,
.updateArableLandForm .form-group .textMessage1,
.updateArableLandForm .form-group .textMessage2 {
    text-align: center;
    display: inline;
    font-size: 18px;
    font-family: Inter;
}

.createArableLandForm .btnLuu,
.updateArableLandForm .btnLuu {
    background-color: rgb(4, 105, 4);
    color: #f0f0f0;
    font-size: 20px;
    text-align: center;
}


.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .confirmationDialog {
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
    border-radius: 10px;
    position: absolute;
    top: calc(38%);
    transform: translateX(96%);
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .confirmationDialog .btnYes {
    background-color: rgb(244, 61, 61);
    color: white;
    font-family: Inter;
    font-size: 16px;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .confirmationDialog .btnNo {
    background-color: rgb(196, 191, 191);
    color: rgb(33, 33, 33);
    font-family: Inter;
    font-size: 16px;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .messageDialog .btnOK {
    background-color: rgb(196, 191, 191);
    color: rgb(33, 33, 33);
    font-family: Inter;
    font-size: 16px;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .messageDialog {
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
    border-radius: 10px;
    position: absolute;
    top: calc(38%);
    transform: translateX(96%);
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
}


.arablelandManagement .btnCreate {
    border-radius: 12px;
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    border: none;
    color: #FFFED8;
}

.arablelandManagement .btnCreate:hover {
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-family: Inter;
    border: none;
    border-radius: 10px;
}

.arablelandManagement .inputSearch1 {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 40%;
    height: 35px;
    position: absolute;
    left: 66%;
    top: 3%;
}

.arablelandManagement .topRight .form-control:focus {
    border-color: #E4E5EB !important;
}

.arablelandManagement .btnSearch1 {
    position: absolute;
    left: 102%;
    top: 13%;
    border-radius: 10px;
    border: none;
    background: none;
}

.arablelandManagement .closeSearch {
    display: none;
    width: 110%;
    margin: 0 auto 10px auto;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.arablelandManagement .openSearch {
    display: inline-block;
    position: absolute;
    left: 66%;
    top: 70%;
    width: 40%;
    background-color: #FAFAFC;
    border-radius: 5px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.arablelandManagement .item {
    background-color: none;
    cursor: pointer;
    bottom: 0.1px;
    color: #1C1C1F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0.1px;
    margin: 0.2px;
}

.arablelandManagement .item:hover {
    background-color: none;
    cursor: pointer;
    bottom: 0.1px;
    background-color: #EAEAEA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.arablelandManagement .topRight {
    background: #E4E5EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
}

.arablelandManagement .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: #B3B4BA;
    position: relative;
    top: -10%
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement {
    border-left: #bdf487 0.5px solid;
}


.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .actions {
    border: none;
    color: black;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement tr {
    width: max-content;
    border-top: 1px solid #515151;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .actions .action {
    text-align: center;
    display: inline;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .actions .action .actionIcon {
    border: none;
    color: black;
}

.arablelandList {
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 480px;
}


.arablelandList .table {
    height: min-content;
}

.arablelandList .table a {
    text-decoration: none;
    color: black;
}

.arablelandList .table a:hover {
    text-decoration: underline;
    color: black;
}

.arablelandList .table thead tr {
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.arablelandList .table tbody tr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.arablelandList table tbody tr td {
    padding: 4px !important;
    vertical-align: middle;
    border-bottom: 0.5px solid #cbcccf !important;
    padding-left: 10px !important;
}

.arablelandList table thead tr th {
    border-top: 0.5px solid #b5b5b7;
    border-bottom: 0.5px solid #b5b5b7;
    padding-left: 10px !important;
}

.arablelandList .table tbody tr:hover {
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-color: #EAEAEA;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .btnTimKiem:hover {
    background-color: none;
    color: #515151;
}

.arablelandManagement .arablelandManagementFrame .rightArableLandManagement .btnTimKiem {
    background-color: none;
    color: darkgray
}

.arablelandManagement .categoryList .btnArableland {
    display: block;
    width: 94%;
    font-size: 18px;
    background-color: #FFFA37;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
}