.createEmployeeForm, .updateEmployeeForm{
     background-color: #dbdbdb;
     border: 0.5px solid #b8b5b5;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(9%);
     left: 14%;
     width: 70% !important;
}

.EmployeeManagerFrame .btnCreate {
     border-radius: 15px;
     background: #008B8E;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     font-family: 'Roboto';
     border: none;
     color: #FFFED8;
     z-index: -1;
}

.EmployeeManagerFrame .btnCreate:hover {
     background: #008B8E;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     font-family:'Roboto';
     border: none;
     border-radius: 10px;
}

 .EmployeeManagerFrame .btnEmployee{
     display: block;
     width: 94%;
     font-size: 18px;
     background-color: #FFFA37;
     color: #5C5D22;
     border: none;
     font-family: Inter;
     border-radius: 14px;
 }



 .EmployeeManagerFrame .topRight .form-control:focus{
     border-color: #E4E5EB !important;
 }
 



.EmployeeManagerFrame {
     position: relative;
}

.EmployeeManagerFrame .rightEmployeeManager {
     border-left: #bdf487 0.5px solid;
}


 .outside {
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0px;
     left: 0px;
 }