.createEmployeeForm, .updateEmployeeForm{
     background-color: #b7f8d0;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(15%);
     left: 8%;
     width: 80%;
}

.createEmployeeForm  .content, 
.updateEmployeeForm .content{
     background-color: cornsilk;

}


.createEmployeeForm .content .error-feedback,
.updateEmployeeForm .content .error-feedback{
     color: red;
     float: right;
}


.createEmployeeForm .content .form-group label,
.updateEmployeeForm .content .form-group label{
     float: left;
     font-family: Inter;
     font-size: 18px;
}

.createEmployeeForm .content .form-group .selectBox,
.updateEmployeeForm .content .form-group .selectBox{
     width: 100%;
     height: 38px;
     border: 1px solid #ced4da;
     border-radius: 4px;
}

.createEmployeeForm .content .form-group input,
.updateEmployeeForm .content .form-group input{
     float: left;
}

.createEmployeeForm .content .form-group .form-control,
.updateEmployeeForm .content .form-group .form-control{
     background-color: #f0f0f0;
}

.createEmployeeForm .functionName,
.updateEmployeeForm .functionName{
     font-family: Inter;
     font-size: 22px;
}
.createEmployeeForm .form-group .textMessage2,
.createEmployeeForm .form-group .textMessage1,
.updateEmployeeForm .form-group .textMessage1,
.updateEmployeeForm .form-group .textMessage2{
     text-align: center; 
     display: inline;
     font-size: 18px;
     font-family: Inter;
}

.createEmployeeForm .btnLuu, 
.updateEmployeeForm .btnLuu{
     background-color: rgb(4, 105, 4);
     color: #f0f0f0;
     font-size: 20px;
     text-align: center;
}


.EmployeeManagerFrame   .confirmationDialog{
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position:absolute;
     top: calc(38%);
     transform: translateX(80%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px; 
     text-align: center;
}

.EmployeeManagerFrame .confirmationDialog .btnYes{
     background-color: rgb(244, 61, 61);
     color: white;
     font-family: Inter;
     font-size: 16px;
}

.EmployeeManagerFrame .confirmationDialog .btnNo{
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}

.EmployeeManagerFrame .messageDialog .btnOK{
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}
.EmployeeManagerFrame .messageDialog{
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position:absolute;
     top: calc(38%);
     transform: translateX(80%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px; 
     text-align: center;
}


 .EmployeeManagerFrame .btnEmployee{
     display: block;
     width: 94%;
     font-size: 18px;
     background-color: #FFFA37;
     color: #5C5D22;
     border: none;
     font-family: Inter;
     border-radius: 14px;
 }

 .EmployeeManagerFrame .inputSearch {
     background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     font-size: 16px;
     color: #84858A;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
 }
 
 .EmployeeManagerFrame .btnSearch {
     position: absolute;
     left: 62%;
     border-radius: 10px;
     border: none;
     background: none;
 }
 

 .btnCreate {
     background: #EEEA41;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 18px;
     font-family: Inter;
     width: max-content;
     border: none;
     border-radius: 10px;
 }
 
  .btnCreate:hover {
     background: #008B8E;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 18px;
     font-family: Inter;
     border: none;
     border-radius: 10px;
 }

 nav {
     float: right;
}

 nav .pagination .page-link {
     color: #5C5D22;
     font-size: 17px;
}

nav{
     position: absolute;
     left:85%;
     top: 92%;
}