.epidemicManagement .createEpidemicForm,
.epidemicManagement .updateEpidemicForm {
    margin: auto;
    padding: 20px;
    background: #FAFAFC;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(37.5px);
    border-radius: 5px;
    width: 82.5%;
    position: relative;
    top:60px;
    transition: all 5s ease-in-out;
}
@media only screen and (max-width: 1430px) {
    .epidemicManagement .createEpidemicForm,
    .epidemicManagement .updateEpidemicForm {
        left: 10%;
    }
}
@media only screen and (max-width: 768px) {
    .epidemicManagement .li-class-epdiemic{
        height: 350px !important;
    }
}


.epidemicManagement .navigationBar .btnEpidemic {
    display: block;
    width: 94%;
    font-size: 17px;
    background-color: #fff945;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.epidemicManagement .navigationBar .btnCatalog {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;  
      color: #5C5D22;
    border: none;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}