.riceCropDetail .updateEpidemicTimesForm,
.riceCropDetail .createEpidemicTimesForm{
     margin: auto;
     padding: 20px;
     background: #FAFAFC;
     box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.3);
     backdrop-filter: blur(37.5px);
     border-radius: 5px;
     width: 82.5%;
     position: relative;
     top:100px;
     transition: all 5s ease-in-out;
}

@media only screen and (max-width: 1430px) {
     .riceCropDetail .updateEpidemicTimesForm,
     .riceCropDetail .createEpidemicTimesForm{
          /* left: 10%; */

     }
     
 }

