.epidemicManagement .createEpidemicForm,
.epidemicManagement .updateEpidemicForm {
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
    font-family: Inter;
    border-radius: 10px;
    position: absolute;
    top: calc(16%);
    left: 8%;
    width: 85%;
}

.epidemicManagement {
    position: relative;
}

.epidemicManagement .epidemicManagementFrame .rightEpidemicManagement {
    border-left: #bdf487 0.5px solid;
}



.epidemicManagement .navigationBar .btnEpidemic {
    display: block;
    width: 94%;
    font-size: 17px;
    background-color: #faf567;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
}

.arablelandManagement  .navigationBar .btnCatalog {
    display: block;
    width: 94%;
    font-size: 17px;
    background-color: #FFFA37;
    color: #5C5D22; 
    border: none;
    font-family: Inter;
    border-radius: 14px;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}