.riceCropDetail .updateEpidemicTimesForm,
.riceCropDetail .createEpidemicTimesForm{
     background-color: #dbdbdb;
     border: 0.5px solid #b8b5b5;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(100px);
     left: 20px;
     width: 97.5%;
}

