.updateEpidemicTimesForm, .createEpidemicTimesForm{
     background-color: #dbdbdb;
     border: 0.5px solid #b8b5b5;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(12%);
     left: 21%;
     width: 70%;
}



.updateEpidemicTimesForm .messege{
    background-color: #6cc38c;
}
.updateEpidemicTimesForm .content .error-feedback,
.createEpidemicTimesForm .content .error-feedback{
     color: red;
     float: right;
}


.updateEpidemicTimesForm .content .form-group label,
.createEpidemicTimesForm .content .form-group label{
     float: left;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
}

.updateEpidemicTimesForm .content .form-group .selectBox,
.createEpidemicTimesForm .content .form-group .selectBox{
     width: 100%;
     height: 38px;
     border: 1px solid #ced4da;
     border-radius: 4px;
}

.updateEpidemicTimesForm .content .form-group input,
.createEpidemicTimesForm .content .form-group input{
     float: left;
}

.updateEpidemicTimesForm .content .form-group .form-control,
.createEpidemicTimesForm .content .form-group .form-control{
     background-color: #FAFAFC;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     border-radius: 15px;
     color: #2F3033;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
}

.updateEpidemicTimesForm .functionName,
.createEpidemicTimesForm .functionName{
     font-family: Inter;
     font-size: 24px;
}
.updateEpidemicTimesForm .form-group .textMessage2,
.updateEpidemicTimesForm .form-group .textMessage1,
.createEpidemicTimesForm .form-group .textMessage1,
.createEpidemicTimesForm .form-group .textMessage2{
     text-align: center; 
     display: inline;
     font-size: 18px;
     font-family: Inter;
}

.updateEpidemicTimesForm .btnLuu, 
.createEpidemicTimesForm .btnLuu{
     background-color: rgb(4, 105, 4);
     color: #f0f0f0;
     font-size: 20px;
     text-align: center;
}