.fertilizerManagement .createFertilizerForm,
.fertilizerManagement .updateFertilizerForm{
     background-color: #b7f8d0;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(16%);
     left: 10%;
     width: 80%;
     z-index: 2;
}

 .fertilizerManagement{
    position: relative;
 }


.fertilizerManagement  .navigationBar .btnFertilizer {
    display: block;
    width: 88%;
    font-size: 17px;
    background-color: #fff945;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
font-style: normal;
    color: #5C5D22;
    border: none;
    border-radius: 14px;
}

.fertilizerManagement .navigationBar .btnCatalog  {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.hiddentext{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
