.fertilizerManagement .createFertilizerForm,
.fertilizerManagement .updateFertilizerForm {
    border-radius: 10px;
    position: absolute;
    top: calc(144px);
    left: 30px;
    width: 97%;
    z-index: 2;
}

.fertilizerManagement {
    position: relative;
}


.fertilizerManagement .navigationBar .btnFertilizer {
    display: block;
    width: 88%;
    font-size: 17px;
    background-color: #fff945;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    color: #5C5D22;
    border: none;
    border-radius: 14px;
}

.fertilizerManagement .navigationBar .btnCatalog {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.hiddentext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messege {
    background-color: #6cc38c;
}

.error-feedback {
    color: red;
    float: right;
}

.form-group label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.form-group .selectBox {
    width: 100%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.content .form-group input {
    float: left;
}

.form-control {
    background-color: #f0f0f0 !important;
}

.functionName {
    font-family: 'Roboto';
    font-size: 24px;
}

.textMessage1,
.textMessage2 {
    text-align: center;
    display: inline;
    font-size: 18px;
    font-family: 'Roboto';
}

.btnLuu {
    background: #008B8E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFED8;
    font-family: 'Roboto';
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    text-align: center;
}