.createFertilizerForm, .updateFertilizerForm{
     background-color: #b7f8d0;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(24%);
     left: 25%;
     width: 50%;
}



.createFertilizerForm .messege{
    background-color: #6cc38c;
}
.createFertilizerForm .content .error-feedback,
.updateFertilizerForm .content .error-feedback{
     color: red;
     float: right;
}


.createFertilizerForm .content .form-group label,
.updateFertilizerForm .content .form-group label{
     float: left;
     font-family: Inter;
     font-size: 18px;
}

.createFertilizerForm .content .form-group .selectBox,
.updateFertilizerForm .content .form-group .selectBox{
     width: 100%;
     height: 38px;
     border: 1px solid #ced4da;
     border-radius: 4px;
}

.createFertilizerForm .content .form-group input,
.updateFertilizerForm .content .form-group input{
     float: left;
}

.createFertilizerForm .content .form-group .form-control,
.updateFertilizerForm .content .form-group .form-control{
     background-color: #f0f0f0;
}

.createFertilizerForm .functionName,
.updateFertilizerForm .functionName{
     font-family: Inter;
     font-size: 24px;
}
.createFertilizerForm .form-group .textMessage2,
.createFertilizerForm .form-group .textMessage1,
.updateFertilizerForm .form-group .textMessage1,
.updateFertilizerForm .form-group .textMessage2{
     text-align: center; 
     display: inline;
     font-size: 18px;
     font-family: Inter;
}

.createFertilizerForm .btnLuu, 
.updateFertilizerForm .btnLuu{
     background-color: rgb(4, 105, 4);
     color: #f0f0f0;
     font-size: 20px;
     text-align: center;
}


.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement   .confirmationDialog{
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position:absolute;
     top: calc(38%);
     transform: translateX(80%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px; 
     text-align: center;
}

.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .confirmationDialog .btnYes{
     background-color: rgb(244, 61, 61);
     color: white;
     font-family: Inter;
     font-size: 16px;
}

.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .confirmationDialog .btnNo{
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}

.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .messageDialog .btnOK{
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}
.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .messageDialog{
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position:absolute;
     top: calc(38%);
     transform: translateX(80%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px; 
     text-align: center;
}
.btnChoosePage {

 }
 
 /* Dropup Button */
 .dropbtn {
     color: black;
     font-size: 16px;
     border: none;
     width: 80px;
     height: 35px;
     background-color: none;
     border-radius: 10px;
 }
 
 /* The container <div> - needed to position the dropup content */
 .dropdown {
     position: relative;
     display: inline-block;
     border-radius: 1px;
 }
 
 /* Dropup content (Hidden by Default) */
 .dropdown-content {
     display: none;
     position: absolute;
     bottom: 50px;
     min-width: 80px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     /* z-index: 1; */
     font-family: Inter;
     font-size: 17px;
     border-radius: 15px;
 }
 
 /* Links inside the dropup */
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-family: Inter;
     font-size: 17px;
 }
 
 /* Change color of dropup links on hover */
 .dropdown-content a:hover {
     border: #00BA13 1px solid;
     background-color: #3c8456;
     border-radius: 1px;
     font-size: 18px;
     font-family: Inter;
 }
 
 .dropdown-content a.active {
     background-color: #47de7e;
 }
 
 /* Show the dropup menu on hover */
 .dropdown:hover .dropdown-content {
     display: block;
     border: #00BA13 1px solid;
     background-color: #3b9c5f;

     font-size: 18px;
     font-family: Inter;
     right: 1%;
     top:calc(98%)
 }
 
 /* Change the background color of the dropup button when the dropup content is shown */
 .dropdown:hover .dropbtn {
     border-radius: 1px;
     font-size: 18px;
     font-family: Inter;
     border-radius: 10px;
 }
 
 .btnCreate{
     border: #00BA13 1px solid;
     border-radius: 5px;
     font-size: 18px;
     font-family: Inter;
 }
 .btnCreate:hover{
     border: #00BA13 1px solid;
     background-color: #6cc38c;
     border-radius: 5px;
     font-size: 18px;
     font-family: Inter;
 }
 .numberPage {
     display: inline-block;
     margin-top: 2px;
     border-radius: 5px;
     border: 1px solid #00BA13;
 }

 .numberPage:hover {
     display: inline-block;
     margin-top: 2px;
     border-radius: 5px;
     border: 1px solid #00BA13;
 }

 .fertilizerManagement{
    position: relative;
 }
.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement{
    border-left: #bdf487 0.5px solid;
}
 .fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement table tr{
     /* background-color: #ced4da; */
     border-top: 1px solid #515151;
 }

 .fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .actions{
     border: none;
     color: black;
 }
 .fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement tr{
    width: max-content; 
 }
 .fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .actions .action{
     text-align: center;
     display: inline;
 }
 .fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .actions .action .actionIcon{
     border: none;
     color: black;
 }

 .fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .fertilizerList .table{
     height: max-content;
 }

.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .btnTimKiem:hover{
    background-color: none;
    color:#515151;
}

.fertilizerManagement .fertilizerManagementFrame .rightFertilizerManagement .btnTimKiem{
    background-color: none;
    color:darkgray
}

.fertilizerManagement .categoryList .btnFertilizer {
    display: block;
    width: 94%;
    font-size: 19px;
    background-color: #FFFA37;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
}