.messege {
     background-color: #6cc38c;
}

.error-feedback,
.error-feedback {
     color: red;
     float: right;
}


.form-group label,
.form-group label {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
}

.form-group .selectBox,
.form-group .selectBox {
     width: 100%;
     height: 38px;
     border: 1px solid #ced4da;
     border-radius: 4px;
}

.content .form-group input,
.content .form-group input {
     float: left;
}

.form-control,
.form-control {
     background-color: #f0f0f0;
}

.functionName,
.functionName {
     font-family: Inter;
     font-size: 24px;
}

.textMessage2,
.textMessage1,
.textMessage1,
.textMessage2 {
     text-align: center;
     display: inline;
     font-size: 18px;
     font-family: Inter;
}

.btnLuu,
.btnLuu {
     background-color: rgb(4, 105, 4);
     color: #f0f0f0;
     font-size: 20px;
     text-align: center;
}


.confirmationDialog {
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position: absolute;
     top: calc(38%);
     transform: translateX(96%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px;
     text-align: center;
}

.confirmationDialog .btnYes {
     background-color: rgb(244, 61, 61);
     color: white;
     font-family: Inter;
     font-size: 16px;
}

.confirmationDialog .btnNo {
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}

.messageDialog .btnOK {
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}

.messageDialog {
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position: absolute;
     top: calc(38%);
     transform: translateX(96%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px;
     text-align: center;
}

.btnCreate {
     border-radius: 10px !important;
     background: #008B8E;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     font-family: 'Roboto';
     font-weight: 500 !important;
     border: none;
     color: #FFFED8;
     margin-right: 13px;
     z-index: -1;
}

.btnCreate:hover {
     background: #008B8E;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     font-family: 'Roboto';
     border: none;
     border-radius: 10px;
}

.form-control:focus {
     border-color: #E4E5EB !important;
}

.table {
     height: min-content;
     width: 100% !important;
     background: #FAFAFC !important;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scrollTable {
     overflow: auto;
     height: 540px;
     max-width: 99%;
     margin-left: 1% !important;
}

.scrollTable thead th,
.scrollStatisticalTable thead th {
     position: sticky;
     top: 0;
     z-index: 0;
     background: #FAFAFC;
     border-bottom: 0.5px solid #b5b5b7;
     padding-left: 10px !important;
     background-color: #008B8E;
     vertical-align: middle;
}

.table tbody tr:hover {
     color: #1C1C1F;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     background-color: #EAEAEA;
}

.table thead tr th {
     vertical-align: middle;
}

.table tbody tr {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     border-bottom: 0.1px solid #f4f5f6 !important;
     height: 20px;
}

.table tbody tr td {
     font-family: 'Roboto' !important;
     font-style: normal;
     vertical-align: middle;
     border-bottom: 0.5px solid #cbcccf !important;
     padding-left: 5px !important;
     vertical-align: middle !important;
     height: 20px;
     font-size: 14px;
     text-align: justify;
}
.option2{
     display: none;
}
.table .centerclass {
     text-align: center !important;
}

@media only screen and (max-width: 760px) {

     .form{
          width: 200% !important;
     }
     .option1{
          display: none !important;
     }
     .option2{
          display: inline;
     }
     .scrollTable {
          height: max-content !important;
     }

     .table {
          border: none !important;
          width: 100%;
          margin-left: 4px;
     }

     .table,
     .table thead,
     .table tbody,
     .table th,
     .table td,
     .table tr {
          display: block;
     }

     .table thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
     }

     .table tr {
          border: 1px solid #ccc;
          height: min-content !important;
          margin-bottom: 20px;
     }

     .table td {
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          height: max-content !important;
          width: 100% !important;
          padding-bottom: 10px;
          font-family: 'Roboto';
          font-style: normal;
          text-align: justify;
     }

     .table td:before {
          white-space: nowrap;
     }

     .table td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          width: 40%;
          display: inline;
          height: max-content;
     }

     .table .centerclass {
          text-align: left !important;
     }

     .inputSearch2 {
          background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px !important;
          width: 50% !important;
          height: 35px;
          position: absolute;
          right: 90px !important;
          top: 20px;
          z-index: 2;
          display: inline !important;
     }

     .btnCreate {
          margin-right: -12px;
     }

}

.outside {
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0px;
     left: 0px;
}

.navbar {
     position: relative !important;
     display: inline;
     width: 15%;
     visibility: visible !important;
     ;
     background: white;
     background: linear-gradient(180deg, rgba(231, 237, 199) 0%, rgba(219, 237, 199) 100%);
     ;
}

.menubar {
     display: flex;
}

.right {
     width: 85%;
     position: relative;
}


.inputSearch1 {
     background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px !important;
     width: 40% !important;
     height: 35px;
     position: absolute;
     left: 47%;
     top: 2.8%;
}


.btnSearch1 {
     position: absolute;
     left: 84%;
     top: 3.5%;
     border-radius: 10px;
     border: none;
     background: none;
}

.closeSearch {
     display: none;
     width: 110%;
     margin: 0 auto 10px auto;
     padding: 10px 20px;
     color: white;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.openSearch {
     display: inline-block;
     position: absolute;
     right: 165px;
     top: 8%;
     width: 40%;
     max-height: 200px;
     background-color: #FAFAFC;
     border-radius: 5px;
     z-index: 1;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     overflow: hidden;
     white-space: nowrap;
}

.item {
     background-color: none;
     cursor: pointer;
     bottom: 0.1px;
     color: #1C1C1F;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     padding: 0.1px;
     margin: 0.2px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.item:hover {
     background-color: none;
     cursor: pointer;
     bottom: 0.1px;
     background-color: #EAEAEA;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
}

.topRight {
     background: #E4E5EB;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0px 0px 15px 15px;
}

.name {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     line-height: 46px;
     color: #B3B4BA;
     position: relative;
     top: -8%;
     margin-left: 18px;
}

@media only screen and (max-width: 1430px) {


     .right {
          width: 100%;
          position: relative !important;
          height: max-content;
     }

     .iconmenu1 {
          display: inline !important;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 185px;
          z-index: 2;
          color: rgb(157, 158, 153);
          top: 5px;
          border: none;
          background-color: #eef56f;
     }

     .nameclass {
          padding-left: 60px;
          z-index: 0;
     }

     .name {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 46px;
          font-size: 25px !important;
          color: #B3B4BA;
          position: relative;
          padding-top: 5px;
     }

     .name2 {
          display: none !important;
     }

     .iconmenu2 {
          display: inline !important;
          width: 40px;
          height: 40px;
          position: absolute;
          z-index: 2;
          left: 40px;
          top: 17px;
          color: #4a4a4b;
          border: none;
     }

     .left {
          display: none !important;
     }

     .navbarresponsive {
          position: absolute !important;
          z-index: 1;
          width: 230px !important;
          height: 100%;
          display: inline !important;
          background: linear-gradient(180deg, rgba(231, 237, 199) 0%, rgba(219, 237, 199) 100%);
          box-shadow: none !important;
     }

     .leftNoneActive {
          filter: blur(0.5px) !important
     }

     .inputSearch1 {
          top: 10%;
          display: none !important;
          width: 10% !important;
          left: 10%;
     }

     .btnSearch1 {
          position: absolute;
          left: 80%;
          top: 3.5%;
          border-radius: 10px;
          border: none;
          display: none;
          background: none;
     }

     .inputSearch2 {
          background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px !important;
          width: 60% !important;
          height: 35px;
          position: absolute !important;
          right: 0 !important;
          top: 20px;
          z-index: 2;
          display: inline !important;
     }

     .btnSearch2 {
          position: absolute;
          right: 90px;
          top: 25px;
          border-radius: 10px;
          border: none;
          background: none;
          display: inline !important;
          z-index: 3;
     }

     .closeSearch {
          display: none;
          width: 110%;
          margin: 0 auto 10px auto;
          padding: 10px 20px;
          color: white;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
               rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     }

     .openSearch {
          display: inline-block;
          position: absolute;
          right: 90px !important;
          top: 60px;
          width: 60%;
          max-height: 200px;
          background-color: #FAFAFC;
          border-radius: 5px;
          z-index: 1;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
               rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          overflow: hidden;
          white-space: nowrap;
     }

     .item {
          background-color: none;
          cursor: pointer;
          bottom: 0.1px;
          color: #1C1C1F;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          padding: 0.1px;
          margin: 0.2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
     }

     .item:hover {
          background-color: none;
          cursor: pointer;
          bottom: 0.1px;
          background-color: #EAEAEA;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
     }
}

.left {
     position: relative;
     display: inline;
     width: 15%;
     background: white;
     height: 100vmin !important;
     background: linear-gradient(180deg, rgba(231, 237, 199) 0%, rgba(219, 237, 199) 100%);
     ;
}

.btnSearch2 {
     display: none;
}

.inputSearch2 {
     display: none;
     right: 90px !important;
     position: absolute;
     width: 40%;
}

.iconmenu1 {
     font-size: 20px;
     display: none;
}

.iconmenu2 {
     font-size: 20px;
     display: none;
}


.leftNoneActive {
     filter: none;
}