.content .error-feedback,
.content .error-feedback {
     color: red;
     float: right;
}

.content .form-group label,
.content .form-group label {
     float: left;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     color: #008B8E;
}

.content .form-group .selectBox,
.content .form-group .selectBox {
     width: 100%;
     height: 35px !important;
     border: 1px solid #ced4da;
     background: #FAFAFC;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 10px;
}

.content .form-group input,
.content .form-group input {
     float: left;
}

.content .form-group .form-control,
.content .form-group .form-control {
     background-color: #FAFAFC;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     border-radius: 10px;
     color: #2F3033;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     height: 35px;
     vertical-align: middle;
}

.functionName,
.functionName {
     font-size: 24px;
     color: #5C5D22;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 550;
}

.textMessage1,
.textMessage2 {
     text-align: center;
     display: inline;
     font-size: 18px;
     font-family: 'Roboto';

}

.btnLuu {
     background: #008B8E !important;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
     color: #FFFED8 !important;
     font-family: 'Roboto';
     font-style: normal;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
     font-size: 20px;
     text-align: center;
     border-radius: 10px !important;
     width: 150px;
}


.confirmationDialog {
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position: absolute;
     top: calc(300px);
     left: 42%;
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px;
     text-align: center;
}

.confirmationDialog .btnYes {
     background-color: rgb(244, 61, 61);
     color: white;
     font-family: 'Roboto';
     font-size: 16px;
}

.confirmationDialog .btnNo {
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: 'Roboto';
     font-size: 16px;
}

.messageDialog .btnOK {
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: 'Roboto';
     font-size: 16px;
}

.messageDialog {
     background-color: rgb(5, 207, 137);
     border: 1px solid rgb(62, 77, 77);
     border-radius: 10px;
     position: absolute;
     top: calc(38%);
     transform: translateX(96%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px;
     text-align: center;
}

.btnCreate {
     border-radius: 10px !important;
     background: #008B8E;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     font-family: 'Roboto';
     font-weight: 500 !important;
     border: none;
     color: #FFFED8;
     right: 3.1%;
     z-index: 3;
     position: absolute;
}

.btnCreate:hover {
     background: #008B8E;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
     font-size: 17px;
     font-family: 'Roboto';
     border: none;
     border-radius: 10px;
}

.form-control:focus {
     border-color: #E4E5EB !important;
}

.row-inputSearch {
     margin-top: 145px;
     z-index: 4;
     width: 99%;
}

.table {
     height: min-content;
     width: 100% !important;
     height: fit-content !important;
     background: #FAFAFC !important;
}

.scrollTable {
     overflow: auto !important;
     margin-top: 20px;
     height: 525px;
     position: relative;
     background-color: #FFFFFF;
     margin-left: 20px;
     background: #FAFAFC;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px;
     width: 97.7%;
}


.scrollTable-content {
     overflow: auto !important;
     max-height: 500px !important;
     width: 97.5% !important;
     margin-top: 15px !important;
     margin-left: 1.4%;
}

.scrollTable thead th,
.scrollStatisticalTable thead th {
     position: sticky;
     top: 0;
     z-index: 0;
     color: #1C1C1F;
     padding-left: 2px !important;
     background: #ABD2C8;
     box-shadow: 4px 4px 4px (0, 0, 0, 0.25);
     vertical-align: middle;
     font-size: 17px;
}

.table tbody tr:hover {
     color: #1C1C1F;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     background-color: #EAEAEA;
}

.table thead tr th {
     vertical-align: middle;
     position: sticky;
     top: 0;
     z-index: 0;
     padding-left: 2px !important;
     background: #ABD2C8;
     color: #1C1C1F;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     vertical-align: middle;
     font-size: 17px;
     padding: 5px;
     border-top: 0.1px solid #b5b6b9;
     border-bottom: 0.1px solid #b5b6b9;
}

.table tbody tr {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 15px;
     height: fit-content !important;
     border-bottom: 0.1px solid #f4f5f6 !important;
}

.table tbody tr td {
     font-family: 'Roboto' !important;
     font-style: normal;
     vertical-align: middle;
     border-bottom: 0.1px solid #B3B4BA;
     padding-left: 5px !important;
     vertical-align: middle !important;
     font-size: 13.5px !important;
     text-align: justify;
     padding: 6px;
     color: #1C1C1F;
}

.option2 {
     display: none;
}

.table .centerclass {
     text-align: center !important;
}

html {
     width: 100%;
}

.form {
     z-index: 12 !important;
     background: linear-gradient(135.44deg, rgba(217, 217, 217, 0.4) 15.43%, rgba(217, 217, 217, 0.1) 79.67%);
     box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.3);
     backdrop-filter: blur(37.5px);
}

@media only screen and (max-width: 990px) {

     .topHeader {
          right: -0px !important;
     }

     .form {
          width: 93.5% !important;
          top: 120px !important;
          left: 10px !important;
     }

     .form .btnLuu {
          width: 80px;
          background-color: #008B8E;
          font-family: 'Roboto';
          font-style: normal;
          color: white;
     }

     .option1 {
          display: none !important;
     }

     .option2 {
          display: inline;
     }

     .scrollTable {
          width: 100% !important;
          height: max-content !important;
          margin-left: 2px !important;
          margin-right: -20px;
          z-index: 2;
     }

     .table {
          border: none !important;
          width: 100% !important;

          display: inline-block;
     }

     .table,
     .table thead,
     .table tbody,
     .table th,
     .table td,
     .table tr {
          display: block;
     }

     .table thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
     }

     .table tr {
          border: 1px solid #ccc;
          height: min-content !important;
          margin-bottom: 20px;
     }

     .table td {
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          height: max-content !important;
          width: 100% !important;
          padding-bottom: 10px;
          font-family: 'Roboto';
          font-style: normal;
          text-align: justify;
     }

     .table td:before {
          white-space: nowrap;
     }

     .table td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          width: 40%;
          display: inline;
          height: max-content;
     }

     .table .centerclass {
          text-align: left !important;
     }

     .table tr:nth-child(even) {
          background-color: #cc9b9b;
     }

     .name2 {
          display: none;
     }

     .iconmenu2 {
          left: 20px !important;
     }

     .name {
          left: -25px !important;
     }

     .btnCreate {
          right: 3.5% !important;
          position: absolute;
          z-index: 3;
     }

     .inputSearch1 {
          margin-right: -8px;
          /* margin-top: -45px !important; */
          margin-left: 3.5% !important;
     }

     .row-inputSearch {
          margin-top: 100px !important;
     }

     .btnSearch1 {
          /* margin-top: -45px !important; */
          margin-left: -4% !important;
     }

     .openSearch {
          margin-left: 5% !important;
          top: 140px !important;
          width: 38% !important;
          z-index: 3 !important;
     }
}

.outside {
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0px;
     left: 0px;
}


.menubar {
     display: flex;
}

.right {
     width: 85%;
     position: relative;
     margin-left: 15%;
     max-height: max-content !important;
     min-height: 100vmin !important;
     background-color: #EAEAEA;
     ;
}


.inputSearch1 {
     background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 10px !important;
     width: 40% !important;
     height: 37px;
     margin-left: 34px;
     z-index: 6;

     /* top: 18px; */
}


.btnSearch1 {
     /* position: absolute; */
     margin-left: -2.5%;
     top: 6px !important;
     border-radius: 10px;
     border: none;
     background: none;
     z-index: 6;
}

.closeSearch {
     display: none;
}

.openSearch {
     display: inline-block;
     position: absolute;
     margin-left: 32px;
     top: 185px;
     width: 40%;
     max-height: 200px;
     background-color: #FAFAFC;
     border-radius: 5px;
     z-index: 6;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     overflow: hidden;
     white-space: nowrap;
}

.item {
     background-color: none;
     cursor: pointer;
     bottom: 0.1px;
     color: #1C1C1F;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     padding: 0.1px;
     margin: 0.2px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.item:hover {
     background-color: none;
     cursor: pointer;
     bottom: 0.1px;
     background-color: #EAEAEA;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
}

.topRight {
     background: #E4E5EB;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0px 0px 15px 15px;
     width: 82.5%;
     z-index: 6;
     position: fixed;
}

.name {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     line-height: 46px;
     color: #79797c;
     position: relative;
     top: 2px;
     margin-left: 24px;
}

@media screen and (max-width: 1430px) {

     .topRight {
          margin-left: 1% !important;
          margin-right: 2px !important;
          position: fixed;
          width: 98%;
          z-index: 6;
     }


     .right {
          width: 100%;
          position: relative !important;
          height: max-content;
          margin-left: 0 !important;
     }

     .fa-bars {
          font-size: 30px !important;
     }

     .iconmenu1 {
          display: inline !important;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 185px;
          z-index: 10;
          top: 5px;
          border: none;
          color: #919302;
          font-size: 45px;

          position: fixed;
          background-color: unset;
     }

     .nameclass {
          padding-left: 60px;
          z-index: 0;
     }

     .name {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 46px;
          font-size: 25px !important;
          position: relative;
          color: #79797c;
     }

     .scrollTable {
          margin-left: 1%;
          width: 98.6%;
     }

     .btnCreate {
          margin-right: -2px;
     }

     .iconmenu2 {
          display: inline !important;
          width: 40px;
          height: 40px;
          position: fixed;
          z-index: 10 !important;
          left: 40px;
          top: 14px;
          color: #4a4a4b;
          border: none;
     }

     .left {
          display: none !important;
     }

     .navbarresponsive {
          position: fixed !important;
          z-index: 7;
          width: max-content !important;
          height: 100vmax;
          display: inline !important;
          box-shadow: none !important;
          overflow: auto;
          overflow-x: hidden;
     }

     .leftNoneActive {
          filter: blur(0.5px) !important;
          pointer-events: none;
          scroll-behavior: none !important;
     }


     .closeSearch {
          display: none;
          width: 110%;
          margin: 0 auto 10px auto;
          padding: 10px 20px;
          color: white;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
               rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     }

     /* .openSearch {
          display: inline-block;
          position: absolute;
          left:4%;
          top: -4px;
          width: 38%;
          max-height: 200px;
          background-color: #FAFAFC;
          border-radius: 5px;
          z-index: 3;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
               rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          overflow: hidden;
          white-space: nowrap; 
     } */

     .item {
          background-color: none;
          cursor: pointer;
          bottom: 0.1px;
          color: #1C1C1F;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          padding: 0.1px;
          margin: 0.2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
     }

     .item:hover {
          background-color: none;
          cursor: pointer;
          bottom: 0.1px;
          background-color: #EAEAEA;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
     }

     .inputSearch1 {
          margin-left: 2%;
     }

     .btnSearch1 {
          margin-left: -3%;

     }
}


.left {
     position: fixed;
     display: inline;
     width: 15%;
     background: white;
     z-index: 7;
     position: fixed !important;
     width: max-content !important;
     height: 100vh;
     box-shadow: none !important;
     overflow: auto;
     overflow-x: hidden;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.iconmenu1 {
     font-size: 20px;
     display: none;
}

.iconmenu2 {
     font-size: 20px;
     display: none;
}

.active {
     filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
     filter: blur(0.5px) !important;
     pointer-events: none;
     scroll-behavior: none !important;
}

.form {
     pointer-events: all !important;
     filter: none !important;
}

.StatisticalManagement input[type=radio],
.statisticsByRiceCrop input[type=radio] {
     appearance: none;
     background: #E4E5EB;
     border: 1px solid #FAFAFC;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 50%;
     width: 16px;
     height: 16px;
     filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
     transition: 0.2s all linear;
     margin-right: 5px;
     position: relative;
     top: 4px;
}

.StatisticalManagement input[type=radio]:checked,
.statisticsByRiceCrop input[type=radio]:checked {
     background: #FFFA37;
     box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.riceCropDetail .dropdown-menu,
.predictiveManagement .dropdown-menu,
.predictiveDetailManagement .dropdown-menu {
     position: absolute;
     right: -100% !important;
     transform: translate3d(-150px, 20px, 100px) !important;
     background: #FAFAFC;
     border: 1px solid #D0D1D6;
     color: #6D6E73;
}

.riceCropDetail .dropdown-menu .dropdown-item,
.predictiveManagement .dropdown-menu .dropdown-item,
.predictiveDetailManagement .dropdown-menu .dropdown-item {
     font-family: 'Roboto';
     font-style: normal;
     color: #6D6E73;
}

.riceCropDetail .dropdown-menu .dropdown-item:hover,
.predictiveManagement .dropdown-menu .dropdown-item:hover,
.predictiveDetailManagement .dropdown-menu .dropdown-item:hover {
     background-color: #FFFED8;
     color: #1C1C1F;
}