.activitiesManagement .createOtherActiviesForm,
.activitiesManagement .updateOtherActiviesForm {
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
    font-family: Inter;
    border-radius: 10px;
    position: absolute;
    top: calc(24%);
    left: 30%;
    width: 40%;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.activitiesManagement .rightActivitiesManagement {
    border-left: #bdf487 0.5px solid;
}

.activitiesManagement .navigationBar .btnCatalog {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
}

.activitiesManagement .navigationBar .btnOtherActivities {
    display: block;
    width: 88%;
    font-size: 17px;
    font-family: 'Roboto';
    font-style: normal;
    background-color: #fff945;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    color: #5C5D22;
    border: none;
    border-radius: 14px;
}