.pesticideManagement .createPesticideForm,
.pesticideManagement .updatePesticideForm{
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(24%);
     left: 10%;
     width: 80%;
}



.createPesticideForm .messege{
    background-color: #6cc38c;
}
.createPesticideForm .content .error-feedback,
.updatePesticideForm .content .error-feedback{
     color: red;
     float: right;
}


.createPesticideForm .content .form-group label,
.updatePesticideForm .content .form-group label{
     float: left;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
}

.createPesticideForm .content .form-group .selectBox,
.updatePesticideForm .content .form-group .selectBox{
     width: 100%;
     height: 38px;
     border: 1px solid #ced4da;
     border-radius: 4px;
}

.createPesticideForm .content .form-group input,
.updatePesticideForm .content .form-group input{
     float: left;
}

.createPesticideForm .content .form-group .form-control,
.updatePesticideForm .content .form-group .form-control{
    background-color: #FAFAFC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    border-radius: 15px;
    color: #2F3033;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.createPesticideForm .functionName,
.updatePesticideForm .functionName{
     font-family: Inter;
     font-size: 24px;
}
.createPesticideForm .form-group .textMessage2,
.createPesticideForm .form-group .textMessage1,
.updatePesticideForm .form-group .textMessage1,
.updatePesticideForm .form-group .textMessage2{
     text-align: center; 
     display: inline;
     font-size: 18px;
     font-family: Inter;
}

.createPesticideForm .btnLuu, 
.updatePesticideForm .btnLuu{
     background-color: rgb(4, 105, 4);
     color: #f0f0f0;
     font-size: 20px;
     text-align: center;
}


.pesticideManagement .pesticideManagementFrame .rightPesticideManagement   .confirmationDialog{
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
     border-radius: 10px;
     position:absolute;
     top: calc(38%);
     transform: translateX(96%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px; 
     text-align: center;
}

.pesticideManagement .pesticideManagementFrame .rightPesticideManagement .confirmationDialog .btnYes{
     background-color: rgb(244, 61, 61);
     color: white;
     font-family: Inter;
     font-size: 16px;
}

.pesticideManagement .pesticideManagementFrame .rightPesticideManagement .confirmationDialog .btnNo{
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}

.pesticideManagement .pesticideManagementFrame .rightPesticideManagement .messageDialog .btnOK{
     background-color: rgb(196, 191, 191);
     color: rgb(33, 33, 33);
     font-family: Inter;
     font-size: 16px;
}

.pesticideManagement .pesticideManagementFrame .rightPesticideManagement .messageDialog{
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
     border-radius: 10px;
     position:absolute;
     top: calc(38%);
     transform: translateX(96%);
     border-radius: 16px;
     display: block;
     width: 404px;
     height: 187px;
     border-radius: 15px; 
     text-align: center;
}

.pesticideManagement  .btnCreate {
    border-radius: 12px;
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    border: none;
    color: #FFFED8;
}

.pesticideManagement  .btnCreate:hover {
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-family: 'Roboto';
    border: none;
    border-radius: 10px;
}

.pesticideManagement .inputSearch1 {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 40%;
    height: 35px;
    position: absolute;
    left: 66%;
    top: 3%;
}

.pesticideManagement .topRight .form-control:focus{
    border-color: #E4E5EB !important;
}

.pesticideManagement .btnSearch1 {
    position: absolute;
    left: 102%;
    top: 13%;
    border-radius: 10px;
    border: none;
    background: none;
}

.pesticideManagement .closeSearch {
    display: none;
    width: 110%;
    margin: 0 auto 10px auto;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .pesticideManagement .openSearch {
    display:inline-block;
    position:absolute;
    left: 66%;
    top: 70%;
    width: 40%;
    background-color: #FAFAFC;
    border-radius: 5px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pesticideManagement  .item {
    background-color: none;
    cursor: pointer;
    bottom: 0.1px;
    color: #1C1C1F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0.1px;
    margin: 0.2px;
}

.pesticideManagement .item:hover {
    background-color: none;
    cursor: pointer;
    bottom: 0.1px;
    background-color: #EAEAEA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.pesticideManagement .topRight {
    background: #E4E5EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
}

.pesticideManagement  .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: #B3B4BA;
    position: relative;
    top:-10%
}

.pesticideManagement .pesticideManagementFrame .rightPesticideManagement{
    border-left: #bdf487 0.5px solid;
}

.pesticideManagement .pesticideList{
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 480px;
}
.pesticideManagement .table {
    height: min-content;
}

.pesticideManagement .fertilizerList{
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 480px;
}

.pesticideManagement .table thead tr {
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.pesticideManagement.table tbody tr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-bottom:  0.1px solid #f4f5f6 !important;
}

.pesticideManagement table tbody tr td{
    padding: 4px !important;
    vertical-align: middle;
    border-bottom:  0.5px solid #cbcccf !important;
    padding-left: 10px !important;
}

.pesticideManagement table thead tr th{
    border-top: 0.5px solid #b5b5b7;
    border-bottom: 0.5px solid #b5b5b7;
    padding-left: 10px !important;
}

.pesticideManagement .table tbody tr:hover {
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-color: #EAEAEA;
}

.pesticideManagement .categoryList .btnPesticide {
    display: block;
    width: 95%;
    font-size: 18px;
    background-color: #FFFA37;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
}