.pesticideManagement .createPesticideForm,
.pesticideManagement .updatePesticideForm {
    border: 0.5px solid #b8b5b5;
    border-radius: 10px;
    position: absolute;
    top: calc(15%);
    left: 5%;
    width: 90%;
}

.predictiveManagement .predictiveList {
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 480px;
}

.predictiveManagement .navigationBar .btnPrediction,
.riceCropDetailForPrediction .navigationBar .btnPrediction {
    display: block;
    width: 88%;
    font-size: 17px;
    background-color: #fff945;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.btnPredict1 {
    border-radius: 10px !important;
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    border: none;
    color: #FFFED8;
    right: 3%;
    z-index: 3;
    position: absolute;
}

.btnPredict2 {
    border-radius: 10px !important;
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 400 !important;
    border: none;
    color: #FFFED8;
    ;
    z-index: 3;
}

.waitingDialog {
    background: #F7FFD9;
    border: 1px solid rgb(62, 77, 77);
    border-radius: 10px;
    position: absolute;
    top: calc(300px);
    transform: translateX(96%);
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
    z-index: 5;
}

.resultDialog {
    background: #F7FFD9;
    border: 1px solid rgb(62, 77, 77);
    border-radius: 10px;
    position: absolute;
    top: calc(300px);
    transform: translateX(96%);
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
    z-index: 5;
}

.btnOK {
    display: block;
    width: 120px;
    font-size: 18px;
    background-color: #beb928;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    color: #444415;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.result {
    color: #5C5D22;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
}

.btnResult,
.btnReality,
.btnRiceCropList {
    background: #008B8E !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    color: #FFFED8 !important;
    font-family: 'Roboto';
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    font-size: 20px;
    text-align: center;
    border-radius: 10px !important;
    width: 160px;
    margin-right: 20px;
}

.labelYear {
    position: sticky;
    top: 0;
    z-index: 0;
    padding-left: 2px !important;
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    margin: 4px 4px 4px 19px;
}

.selectYear {
    border-radius: 10px !important;
    height: 37px;
    width: 80px;
    border: 0px !important;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #000000;
}

.selectYear::selection {
    border: 0px !important;
}

.selectYear .optionYear {
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
}

@media screen and (max-width: 720px) {
    .predictiveManagement .selection-component1 {
        position: relative;
        top: 10px !important;
        left: 1%;
        z-index: 1;
    }

    .predictiveManagement .inputSearch1 {
        margin-bottom: 50px !important;
    }

    .predictiveManagement .btnSearch1 {
        position: absolute;
        top: 105px !important;
        left: 38%;
    }
}

@media screen and (max-width: 1000px) {
    .predictiveManagement .selection-component1 {
        position: relative;
        top: 50px !important;
        left: -41.5%;
        z-index: 1;
    }

    .predictiveManagement .inputSearch1 {
        margin-bottom: 60px !important;
    }

    .predictiveManagement .btnSearch1 {
        position: absolute;
        top: 105px !important;
        left: 41%;
    }

    .riceCropInfor-component {
        width: 60% !important;
        border-radius: 10px !important;
        border-spacing: 30px;
    }

    .calendarComponent {
        width: 35% !important;
        border-radius: 10px !important;
        border-spacing: 30px;
    }

    .resultRiceYield {
        width: 98% !important;
        margin-top: 20px;
    }

    .resultRiceYield .result-prediction,
    .resultRiceYield .result-readly {
        width: 42% !important;
        display: inline-block;
        border-radius: 10px;
        height: 196px !important;
        background: #FAFAFC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .resultRiceYield .result-readly {
        margin-left: 16% !important;
        margin-right: 0px !important;
    }

    .tablePredict {
        height: min-content;
        width: 96% !important;
        margin-left: 1% !important;
        height: fit-content !important;
        background: #FAFAFC !important;
    }

    .tableWeather thead tr th{
        font-size: 12.5px !important;
        padding: 2px 1px 2px 1px !important;
    }

    .tableWeather tbody tr .final-row{
        font-size: 14px !important;
    }

   .riceCropDetailForPrediction .riceCropDetailComponent{
    margin-left: 10px !important;
    }

    time.icon{
        width: 100% !important;
    }
    .ricecrop-Component .tablericeCropInfor tr td{
        padding: 1px !important;
    }

    .riceCropDetailForPrediction .btnDowload {
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    border: none;
    color: #FFFED8;
    z-index: 3;
    margin-top: 10px !important;
    position: relative !important;
    left: 70%;
    border-radius: 10px !important;
    margin-bottom: 10px;
}
}

/* .predictiveManagement .row-inputSearch {
    margin-left: 20px;
} */

@media only screen and (max-width: 1200px) {
    .ricecrop-Component {
        width: 22% !important;
    }

    .btnFinal {
        background: #008B8E;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
        font-size: 17px;
        font-family: 'Roboto';
        font-weight: 500 !important;
        border: none;
        color: #FFFED8;
        right: 15% !important;
        z-index: 3;
        position: absolute;
        border-radius: 10px !important;
    }
}

@media only screen and (max-width: 900px) {
    .ricecrop-Component {
        width: 31% !important;
    }
}

@media only screen and (max-width: 576px) {

    .btnResult,
    .btnReality,
    .btnRiceCropList {
        color: #FFFED8 !important;
        font-family: 'Roboto';
        font-style: normal;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
        font-size: 13px !important;
        width: 100px;
        margin-right: 4px;
        display: inline;
        padding: 0;
    }

    .predictiveManagement .row-inputSearch {
        margin-left: 2px;
        overflow-x: scroll;
    }

    .ricecrop-Component {
        width: 48% !important;
    }

    .btnMoreInfor {
        left: 90% !important;
    }
}

.ricecrop-Component {
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
    padding-bottom: 1px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 18%;
    position: relative;
    text-align: left;
}

.result-Component {
    border-radius: 10px;
    margin-bottom: 18px;
    padding-bottom: 1px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 48%;
    position: relative;
    text-align: center;
    display: inline;
    margin-right: 2%;
}

@media only screen and (max-width: 700px) {
    .result-Component {
        width: 100% !important;
    }

    .btnFinal {
        background: #008B8E;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
        font-size: 17px;
        font-family: 'Roboto';
        font-weight: 500 !important;
        border: none;
        color: #FFFED8;
        right: 22% !important;
        z-index: 3;
        position: absolute;
        border-radius: 10px !important;
    }

    .riceCropName,
    .resultPrediction,
    .riceCropId,
    .textPredict {
        font-family: 'Roboto';
        font-style: normal;
        color: #008B8E;
        padding: auto;
        padding-top: 5px !important;
        text-align: center;
    }

    .resultPrediction {
        font-size: 14px !important;
        color: #5C5D22;
        background: #FFFD9F;
        box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
        display: inline;
        margin: 1px 4px 5px 2px;
        border: none;
        border-radius: 15px;
        width: 70px !important;
    }

    .riceCropId {
        padding-left: 2px !important;
    }

    .textPredict,
    .textKg {
        color: #000000 !important;
        font: 14px;
        font-weight: 600;
        text-transform: none;
        margin-bottom: 20px !important;
        padding-left: 2px !important;
        display: inline;
    }
}

.right-ricecrop-component {
    width: 70%;
    padding-left: 4px;
}


.btnFinal {
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    border: none;
    color: #FFFED8;
    right: 10%;
    z-index: 3;
    position: absolute;
    border-radius: 10px !important;
}

.riceCropName,
.resultPrediction,
.riceCropId,
.textPredict {
    font-family: 'Roboto';
    font-style: normal;
    color: #008B8E;
    padding: auto;
    padding-top: 5px !important;
    text-align: center;
}

.riceCropName {
    text-transform: uppercase;
}

.riceCropName {
    color: #008B8E;
    font-size: 16px;
}

.textPredict,
.textKg {
    color: #000000 !important;
    font: 15px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 20px !important;
    padding-left: 20px;
    display: inline;
}

.textKg {
    text-transform: capitalize;
    color: #2F3033 !important;
    padding-left: 0px !important;
}

.resultPrediction {
    color: #5C5D22;
    font-size: 18px;
    background: #FFFD9F;
    box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
    display: inline;
    margin: 1px 4px 5px 4px;
    border: none;
    border-radius: 15px;
    width: 80px;
}



.riceCropId {
    color: #2F3033;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 15px;
    text-align: left;
}

.btnMoreInfor {
    position: absolute;
    left: 92%;
    top: 1%;
}

.btnmore {
    border: 0px;
    background: none;
}

.predictiveManagement .dropdown-menu {
    position: absolute;
    right: -100% !important;
    top: 5px;
    transform: translate3d(-150px, 20px, 60px) !important;
}

.tablePredict {
    height: min-content;
    width: 100%;
    height: fit-content !important;
    background: #FAFAFC !important;
}

.tableResultPredict {
    height: min-content;
    width: 100% !important;
    height: fit-content !important;
    background: #FAFAFC !important;
}

.tableResultPredict thead tr th {
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 0;
    padding-left: 2px !important;
    background: #ABD2C8;
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-size: 17px;
    padding: 5px;
    border-top: 0.1px solid #b5b6b9;
    border-bottom: 0.1px solid #b5b6b9;
}

.tableResultPredict tbody tr td {
    font-family: 'Roboto' !important;
    font-style: normal;
    vertical-align: middle;
    border-bottom: 0.1px solid #B3B4BA;
    padding-left: 5px !important;
    margin-left: 10px;
    vertical-align: middle !important;
    font-size: 13.5px !important;
    text-align: center;
    padding: 6px;
    color: #1C1C1F;
}

.tablePredict tbody tr:hover {
    color: #1C1C1F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #EAEAEA;
}

.tablePredict thead tr th {
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 0;
    padding-left: 2px !important;
    background: #ABD2C8;
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-size: 17px;
    padding: 5px;
    border-top: 0.1px solid #b5b6b9;
    border-bottom: 0.1px solid #b5b6b9;
}

.tablePredict tbody tr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    height: fit-content !important;
    border-bottom: 0.1px solid #f4f5f6 !important;
}

.tablePredict tbody tr td {
    font-family: 'Roboto' !important;
    font-style: normal;
    vertical-align: middle;
    border-bottom: 0.1px solid #B3B4BA;
    padding-left: 5px !important;
    vertical-align: middle !important;
    font-size: 13.5px !important;
    text-align: justify;
    padding: 6px;
    color: #1C1C1F;
}

.option2 {
    display: none;
}

.tablePredict .centerclass {
    text-align: center !important;
}

.tablePredict .final-row {
    font-size: 18px !important;
    font-weight: 600;
    padding: 6px;
    background-color: #a0a0a1;
}

.riceCropDetailForPrediction .btnDowload,
.riceCropDetailForPrediction .btnPredict {
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    border: none;
    color: #FFFED8;
    z-index: 3;
    position: absolute;
    right: 3.8%;
    border-radius: 10px !important;
    margin-bottom: 20px;
}

.riceCropInfor-component {
    width: 45%;
    border-radius: 10px !important;
    border-spacing: 30px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.riceCropInfor-component table {
    width: 94%;
    margin-left: 3%;
}

.riceCropInfor-component table tbody tr td {
    font-family: 'Roboto' !important;
    font-style: normal;
    vertical-align: middle;
    border-bottom: 0.1px solid #B3B4BA;
    padding-left: 5px !important;
    vertical-align: middle !important;
    font-size: 15px !important;
    text-align: justify;
    padding: 1px;
    color: #1C1C1F;
}

.calendarComponent {
    margin-left: 4%;
    width: 18%;
}

time.icon {
    font-size: 1.4em;
    /* change icon size */
    display: block;
    position: relative;
    width: 8em;
    height: 100%;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background: #FAFAFC;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #5C5D22;
    background: #FFFD9F;
    border-bottom: 1px dashed #FFFD9F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #919302;
}

time.icon span {
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #5C5D22;
}

.resultRiceYield {
    width: 33%;
}

.resultRiceYield .result-prediction,
.resultRiceYield .result-readly {
    width: 45%;
    display: inline-block;
    border-radius: 10px;
    height: 100%;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.resultRiceYield .result-readly {
    margin-left: 10%;
    margin-right: 0% !important;
}

.resultRiceYield p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding-top: 10px;
    color: #5C5D22;
    text-align: center;
}

.resultRiceYield .yield {
    background: #FFFD9F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    height: 55% !important;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px !important;
    /* vertical-align: middle; */
    position: relative;
    justify-content: center;
    padding-top: 25px;
    display: block;
}

.yield-value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 28px;
    line-height: 23px;
    color: #5C5D22;
    text-align: center;
}

.riceCropDetailForPrediction .prediction-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #5C5D22;

}