

.riceCropDetailForPrediction .waitingDialog {
    background: #F7FFD9;
    border: 1px solid rgb(62, 77, 77);
    border-radius: 10px;
    position: absolute;
    top: calc(300px);
    left: 42%;
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
    z-index: 5;
}

.riceCropDetailForPrediction .resultDialog {
    background: #F7FFD9;
    border: 1px solid rgb(62, 77, 77);
    border-radius: 10px;
    position: absolute;
    top: calc(300px);
    left: 42%;
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
    z-index: 5;
}

.riceCropDetailForPrediction .btnOK {
    display: block;
    width: 120px;
    font-size: 18px;
    background-color: #beb928;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    color: #444415;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.result {
    color: #5C5D22;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
}


.predictiveManagement .labelYear {
    position: sticky;
    top: 0;
    z-index: 0;
    padding-left: 2px !important;
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    margin: 4px 4px 4px 19px;
}

.predictiveManagement .selectYear {
    border-radius: 10px !important;
    height: 37px;
    width: 80px;
    border: 0px !important;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #000000;
}

.predictiveManagement .selectYear::selection {
    border: 0px !important;
}

.predictiveManagement .selectYear .optionYear {
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
}

.riceCropDetailForPrediction .tablericeCropInfor tbody tr td{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

@media screen and (max-width: 720px) {
    .predictiveManagement .selection-component1 {
        position: relative;
        top: 10px !important;
        left: 1%;
        z-index: 1;
    }

    .predictiveManagement .inputSearch1 {
        margin-bottom: 50px !important;
    }

    .predictiveManagement .btnSearch1 {
        position: absolute;
        top: 105px !important;
        left: 38%;
    }
}

@media screen and (max-width: 1000px) {
    .predictiveManagement .selection-component1 {
        position: relative;
        top: 50px !important;
        left: -41.5%;
        z-index: 1;
    }

    .predictiveManagement .inputSearch1 {
        margin-bottom: 60px !important;
    }

    .predictiveManagement .btnSearch1 {
        position: absolute;
        top: 105px !important;
        left: 41%;
    }

    .riceCropInfor-component table{
        width: 50%;
        border-radius: 10px !important;
        border-spacing: 30px;
        display: block;
    }

   .riceCropDetailForPrediction .calendarComponent {
        border-radius: 10px !important;
        border-spacing: 30px;
    }

    .riceCropDetailForPrediction .resultRiceYield .result-prediction,
    .riceCropDetailForPrediction .resultRiceYield .result-readly {
        width: 42% !important;
        display: inline-block;
        border-radius: 10px;
        height: 196px !important;
        background: #FAFAFC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .riceCropDetailForPrediction .resultRiceYield .result-readly {
        margin-left: 16% !important;
        margin-right: 0px !important;
    }

    .riceCropDetailForPrediction .tablePredict {
        height: min-content;
        width: 96% !important;
        margin-left: 1% !important;
        height: fit-content !important;
        background: #FAFAFC !important;
    }

    .riceCropDetailForPrediction .tableWeather thead tr th {
        font-size: 12.5px !important;
        padding: 2px 1px 2px 1px !important;
    }

    .riceCropDetailForPrediction .tableWeather tbody tr .final-row {
        font-size: 14px !important;
    }

    .riceCropDetailForPrediction .riceCropDetailComponent {
        margin-left: 10px !important;
    }

    time.icon {
        width: 100% !important;
    }
    time.icon strong {
        position: absolute;
        top: 0;
        padding: 0.4em 0;
        color: #5C5D22;
        background: #FFFD9F;
        border-bottom: 1px dashed #FFFD9F;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 15px !important;
    }

    time.icon span {
        font-size: 50px !important;
        letter-spacing: -0.05em;
        padding-top: 0.8em;
        color: #5C5D22;
    }

    .result-prediction p{
        font-size: 15px !important
    }

    .ricecrop-Component .tablericeCropInfor tr td {
        padding: 1px !important;
    }


    .riceCropDetailForPrediction .popup {
        width: 90% !important;

    }
}


@media only screen and (max-width: 1200px) {
    .ricecrop-Component {
        width: 22% !important;
    }
}

@media only screen and (max-width: 900px) {
    .ricecrop-Component {
        width: 31% !important;
    }
}

@media only screen and (max-width: 576px) {
    .predictiveManagement .row-inputSearch {
        margin-left: 2px;
        overflow-x: scroll;
    }

    .ricecrop-Component {
        width: 48% !important;
    }

    .btnMoreInfor {
        left: 90% !important;
    }
}

.ricecrop-Component {
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
    padding-bottom: 1px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 18%;
    position: relative;
    text-align: left;
}


@media only screen and (max-width: 700px) {


    .riceCropName,
    .resultPrediction,
    .riceCropId,
    .textPredict {
        font-family: 'Roboto';
        font-style: normal;
        color: #008B8E;
        padding: auto;
        padding-top: 5px !important;
        text-align: center;
    }

    .resultPrediction {
        font-size: 14px !important;
        color: #5C5D22;
        background: #FFFD9F;
        box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
        display: inline;
        margin: 1px 4px 5px 2px;
        border: none;
        border-radius: 15px;
        width: 70px !important;
    }

    .riceCropId {
        padding-left: 2px !important;
    }

    .textPredict,
    .textKg {
        color: #000000 !important;
        font: 14px;
        font-weight: 600;
        text-transform: none;
        margin-bottom: 20px !important;
        padding-left: 2px !important;
        display: inline;
    }
}

.right-ricecrop-component {
    width: 70%;
    padding-left: 4px;
}


.riceCropName,
.resultPrediction,
.riceCropId,
.textPredict {
    font-family: 'Roboto';
    font-style: normal;
    color: #008B8E;
    padding: auto;
    padding-top: 5px !important;
    text-align: center;
}

.riceCropName {
    text-transform: uppercase;
}

.riceCropName {
    color: #008B8E;
    font-size: 16px;
}

.predictiveManagement .textPredict,
.predictiveManagement .textKg {
    color: #000000 !important;
    font: 15px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 20px !important;
    padding-left: 20px;
    display: inline;
}

.predictiveManagement .textKg {
    text-transform: capitalize;
    color: #2F3033 !important;
    padding-left: 0px !important;
}

.predictiveManagement .resultPrediction {
    color: #5C5D22;
    font-size: 18px;
    background: #FFFD9F;
    box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
    display: inline;
    margin: 1px 4px 5px 4px;
    border: none;
    border-radius: 15px;
    width: 80px;
}



.predictiveManagement .riceCropId {
    color: #2F3033;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 15px;
    text-align: left;
}

.predictiveManagement .btnMoreInfor {
    position: absolute;
    left: 92%;
    top: 1%;
}

.predictiveManagement .btnmore {
    border: 0px;
    background: none;
}

.predictiveManagement .dropdown-menu {
    position: absolute;
    right: -100% !important;
    top: 5px;
    transform: translate3d(-150px, 20px, 60px) !important;
}

.riceCropDetailForPrediction .tablePredictFrame{
    height: 100%;
    background: #FAFAFC !important;
    border-radius: 10px;
    padding-bottom: 1px;
}

.riceCropDetailForPrediction .tablePredict {
    height: min-content;
    width: 98%;
    margin: 10px auto 10px auto !important;
    height: fit-content !important;
    background: #FAFAFC !important;
}

.riceCropDetailForPrediction .table-row{
    width: 100%;
    margin-left:1px !important;
}

.riceCropDetailForPrediction .tablePredict tbody tr:hover {
    color: #1C1C1F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #EAEA
    EA;
}
.riceCropDetailForPrediction .tablePredict thead tr{
    background: #ABD2C8;
}

.riceCropDetailForPrediction .tablePredict thead tr th {
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 0;
    padding-left: 2px !important;
    background: #ABD2C8;
    color: #1C1C1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-size: 16px;
    padding: 4px;
    background: #ABD2C8;
}

.riceCropDetailForPrediction .tablePredict tbody tr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    height: fit-content !important;
    border-bottom: 0.1px solid #f4f5f6 !important;
}

.riceCropDetailForPrediction .tablePredict tbody tr td {
    font-family: 'Roboto' !important;
    font-style: normal;
    vertical-align: middle;
    border-bottom: 0.1px solid #B3B4BA;
    padding-left: 5px !important;
    vertical-align: middle !important;
    font-size: 13.5px !important;
    text-align: justify;
    padding: 5px;
    color: #1C1C1F;
}

.riceCropDetailForPrediction .tablePredict .centerclass {
    text-align: center !important;
}

.riceCropDetailForPrediction .tablePredict .final-row {
    font-size: 16.5px !important;
    font-weight: 700;
    padding: 4px;
    background: #E4E5EB !important;
    color: #5C5D22 !important;
    border-top: 0px !important;
}

.riceCropDetailForPrediction .btnDowload{
    background: #008B8E;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    border: none;
    color: #FFFED8;
    z-index: 3;
    border-radius: 10px !important;
    margin-left: 10px;
    padding: 2px auto 2px auto;
    height: 35px;
}

.riceCropDetailForPrediction .btnPredict {
    background: #008B8E;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    border: none;
    color: #FFFED8;
    z-index: 3;
    position: absolute;
    width: 100px;
    right: 3.8%;
    border-radius: 10px !important;
    margin-bottom: 5px;
}

.riceCropDetailForPrediction .btnViewDetail {
    background: #008B8E;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    border: none;
    color: #FFFED8;
    z-index: 3;
    position: absolute;
    width: 100px;
    padding: 2px !important;
    margin-top:15px;
    right: 3.8%;
    border-radius: 8px !important;
    margin-bottom: 2px;
}

.riceCropDetailForPrediction .riceCropInfor-component {
    width: 40%;
    border-radius: 10px !important;
    border-spacing: 30px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.riceCropDetailForPrediction .riceCropInfor-component table {
    width: 94%;
    margin-left: 3%;
}

.riceCropInfor-component table tbody tr td {
    font-family: 'Roboto' !important;
    font-style: normal;
    vertical-align: middle;
    border-bottom: 0.1px solid #B3B4BA;
    padding-left: 5px !important;
    vertical-align: middle !important;
    font-size: 13.5px !important;
    text-align: justify;
    padding: 1px;
    color: #1C1C1F;
    width: 100%;
}

.riceCropDetailForPrediction .calendarComponent {
    margin-left: 2%;
    width: 18%;
}

.riceCropDetailForPrediction time.icon {
    font-size: 1.4em;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

.riceCropDetailForPrediction time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background: #FAFAFC;
}

.riceCropDetailForPrediction time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #5C5D22;
    background: #FFFD9F;
    border-bottom: 1px dashed #FFFD9F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.riceCropDetailForPrediction time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #919302;
}

.riceCropDetailForPrediction time.icon span {
    font-size: 55px;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #5C5D22;
}


.riceCropDetailForPrediction .result-prediction,
.riceCropDetailForPrediction .result-readly {
    width: 18%;
    border-radius: 10px;
    margin-left: 2%;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.riceCropDetailForPrediction .result-prediction p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding-top: 10px;
    color: #5C5D22;
    text-align: center;
}

.riceCropDetailForPrediction .result-prediction .yield {
    background: #FFFD9F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    height: 55% !important;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px !important;
    /* vertical-align: middle; */
    position: relative;
    justify-content: center;
    padding-top: 25px;
    display: block;
}

.riceCropDetailForPrediction .yield-value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 28px;
    line-height: 23px;
    color: #5C5D22;
    text-align: center;
}

.riceCropDetailForPrediction .prediction-title,
.riceCropDetailForPrediction .prediction-title2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #5C5D22;
}

.riceCropDetailForPrediction .prediction-title2 {
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.riceCropDetailForPrediction .box {
    width: max-content;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.riceCropDetailForPrediction .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06d85f;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.riceCropDetailForPrediction .button:hover {
    background: #06d85f;
}

.riceCropDetailForPrediction .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 100ms;
    visibility: hidden;
    opacity: 0;
    z-index: 18;
}


.riceCropDetailForPrediction .overlay:target {
    visibility: visible;
    opacity: 1;
}

.riceCropDetailForPrediction .popup {
    /* margin:  auto; */
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 71%;
    position: relative;
    top: 30px;
    transition: all 5s ease-in-out;
}

.riceCropDetailForPrediction .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.riceCropDetailForPrediction .popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .riceCropDetailForPrediction .box {
         width: 70%;
    }

    .riceCropDetailForPrediction .popup {
         width: 70%;
    }
}

.tableWeather-popup thead tr th{
    position: sticky;

}
.tableWeather-popup tbody tr:last-child{
    position: sticky;
    bottom: 0;
    background-color: #f5f6f8;
 }
.riceCropDetailForPrediction .overlay .content {
    height: 80vh !important;

}

.tableWeather-popup {
    width: 100% !important;
    height:100% !important;
    position: relative;
}

.btnPredict a{
    text-decoration: none;
    color: #FFFED8;
}

.riceCropDetailForPrediction .btnDowload:hover,
.riceCropDetailForPrediction .btnPredict:hover{
    background-color: #ABD2C8;
    color:#1C1C1F;
}

.riceCropDetailForPrediction .btnPredict:hover a{
    color:#1C1C1F;
    text-decoration: none;
}