.riceCropManagement .createRiceCropForm {
    background-color: #b7f8d0;
    font-family: Inter;
    border-radius: 10px;
    position: absolute;
    top: calc(25%);
    left: 8%;
    width: 80% !important;
    height: max-content;
}

.updateRiceCropForm {
    font-family: Inter;
    border-radius: 10px;
    left: 10%;
    width: 100%;
}


.createRiceCropForm .messege {
    background-color: #6cc38c;
}

.createRiceCropForm .content .error-feedback,
.updateRiceCropForm .content .error-feedback {
    color: red;
    float: right;
}



.createRiceCropForm .content .form-group label,
.updateRiceCropForm .content .form-group label {
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #008B8E;
    margin-bottom: 0%;
}

.createRiceCropForm .content .form-group .selectBox,
.updateRiceCropForm .content .form-group .selectBox {
    width: 100%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.createRiceCropForm .content .form-group input,
.updateRiceCropForm .content .form-group input {
    float: left;
}

.createRiceCropForm .content .form-group .form-control,
.updateRiceCropForm .content .form-group .form-control {
    background-color: #FAFAFC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    height: 80%;
    border-radius: 15px;
    color:#2F3033;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
}

.calendaer {
    font-size: 17px;
    height: 38px !important;
    border-radius: 15px !important;
}

.createRiceCropForm .functionName,
.updateRiceCropForm .functionName {
    font-family: Inter;
    font-size: 20px;
}

.createRiceCropForm .form-group .textMessage2,
.createRiceCropForm .form-group .textMessage1,
.updateRiceCropForm .form-group .textMessage1,
.updateRiceCropForm .form-group .textMessage2 {
    text-align: center;
    display: inline;
    font-size: 18px;
    font-family: Inter;
}

.createRiceCropForm .btnLuu {
    background-color: rgb(4, 105, 4);
    color: #f0f0f0;
    font-size: 20px;
    text-align: center;
}

.updateRiceCropForm .btnLuu {
    background: #008B8E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFED8;
}

.riceCropManagement .inputSearch1 {
    font-size: 16px;
    color: #84858A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 90px;
    position: relative;
    left: 92%;

}

.riceCropManagement .btnSearch1 {
    position: absolute;
    left: 105%;
    top: 15%;
    border-radius: 10px;
    border: none;
    background: none;
}


.riceCropManagement .inputSearch2 {
    font-size: 16px;
    color: #84858A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    position: relative;
    left: -10%;
    width: 120%;
}

.riceCropManagement .btnSearch2 {
    position: absolute;
    left: 102%;
    top: 15%;
    border-radius: 10px;
    border: none;
    background: none;
}

.riceCropManagement .topRight {
    background: #E4E5EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
}

.riceCropManagement .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: #B3B4BA;
    position: relative;
    top: -10%
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .confirmationDialog {
    background-color: rgb(5, 207, 137);
    border: 1px solid rgb(62, 77, 77);
    border-radius: 10px;
    position: absolute;
    top: calc(38%);
    transform: translateX(80%);
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .confirmationDialog .btnYes {
    background-color: rgb(244, 61, 61);
    color: white;
    font-family: Inter;
    font-size: 16px;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .confirmationDialog .btnNo {
    background-color: rgb(196, 191, 191);
    color: rgb(33, 33, 33);
    font-family: Inter;
    font-size: 16px;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .messageDialog .btnOK {
    background-color: rgb(196, 191, 191);
    color: rgb(33, 33, 33);
    font-family: Inter;
    font-size: 16px;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .messageDialog {
    background-color: rgb(5, 207, 137);
    border: 1px solid rgb(62, 77, 77);
    border-radius: 10px;
    position: absolute;
    top: calc(38%);
    transform: translateX(80%);
    border-radius: 16px;
    display: block;
    width: 404px;
    height: 187px;
    border-radius: 15px;
    text-align: center;
}


.riceCropManagement .btnCreate {
    border-radius: 12px;
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    border: none;
    color: #FFFED8;
}

.riceCropManagement .btnCreate:hover {
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-family: Inter;
    border: none;
    border-radius: 10px;
}

.numberPage {
    display: inline-block;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid #00BA13;
}

.numberPage:hover {
    display: inline-block;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid #00BA13;
}

.fertilizerManagement {
    position: relative;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement {
    border-left: #bdf487 0.5px solid;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement table tr {
    /* background-color: #ced4da; */
    border-top: 1px solid #515151;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .actions {
    border: none;
    color: black;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement tr {
    width: max-content;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .actions .action {
    text-align: center;
    display: inline;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .actions .action .actionIcon {
    border: none;
    color: black;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .table .td {
    font-size: 14px;
    text-align: justify;
    vertical-align: top;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .table {
    height: max-content;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList {
    height: 270px;
    margin-bottom: 2px;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .table a {
    text-decoration: none;
    color: black;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .table a:hover {
    text-decoration: underline;
    color: black;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .btnTimKiem:hover {
    background-color: none;
    color: #515151;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .btnTimKiem {
    background-color: none;
    color: darkgray
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .btnEnd {
    width: 120px;
    font-size: 16px;
    background-color: slategray;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .btnMonitor {
    width: 120px;
    font-size: 16px;
    background-color: aquamarine;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .table td {
    font-size: 15px;
    text-align: justify;
    vertical-align: middle;
}



.riceCropManagement .categoryList .btnMonitor {
    display: block;
    width: 95%;
    font-size: 18px;
    background-color: #FFFA37;
    border-radius: 14px;
    color: #5C5D22;
    border: none;
    font-family: Inter;
}