.riceCropDetail {
     width: 100%;
     position: relative;
     height: 100vmin !important;
}

.active {
     background: #EAEAEA;
}

.riceCropDetail .btnNameActive {
     background: #EEEA41;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px;
     color: #5C5D22;
     font-family: 'Roboto';
     font-style: normal;
     font-size: 17px;
     font-weight: 700;
     display: inline-block;
}

.riceCropDetail .btnName {
     background: none;
     color: #919302;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 17px;
     display: inline-block;
     text-align: center;
     padding: 14px;
     text-decoration: none;
}

.riceCropDetail .btnName:hover {
     background: #EEEA41;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px;
     color: #5C5D22;
     font-family: 'Roboto';
     font-style: normal;
     font-size: 17px;
     font-weight: 700;
     display: inline-block;
     text-decoration: none;
     width: max-content;
     padding: 7px 14px 7px 14px;
     height: max-content;
}

.riceCropDetail  .functionName{
     overflow: auto;
     white-space: nowrap;
}


.riceCropDetail .bottomrow {
     background: #FAFAFC;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px;
     height: 380px;
     margin-top: 20px;
}

.riceCropDetail .name {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     line-height: 46px;
     color: #B3B4BA;
     position: relative;
     top: -8%
}

.noneactive {
     filter: blur(0.5px);
     box-shadow: inset 7px 7px 7px rgba(0, 0, 0, 0.25);
}

.riceCropDetail .table tbody {
     max-height: 300px;
     width: 100%;
}

.riceCropDetail .btnAdd {
     background: #008B8E;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 12px;
     width: 100px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     color: #FFFED8;
     position: absolute;
     right: 20px;
     top:60px;
}

.riceCropDetail  .inputSearch5 {
     font-size: 17px;
     color: #84858A;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 12px;
     min-width: 50px;
     max-width: 290px;
     position: absolute;
     right: 150px;
     top: 65px;
     border: none !important;
 }
 
 @media only screen and (max-width: 500px) {
     .riceCropDetail  .inputSearch5 {
          font-size: 17px;
          color: #84858A;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 12px;
          width: 50%;
          position: absolute;
          right: 150px;
          top: 65px;
          border: none !important;
      }
      .riceCropDetail .functionName::-webkit-scrollbar { 
          width: 0 !important
      }
      .riceCropDetail .functionName::-webkit-scrollbar { width: 0 !important }
      .functionName{
          /* -ms-overflow-style: none; 
          scrollbar-width: none;
          overflow: -moz-scrollbars-none;
          scrollbar-width: none; */
         
      }
 }
 .riceCropDetail  .topRight .form-control:focus{
     border-color: #E4E5EB !important;
 }
 
 .riceCropDetail  .btnSearch5 {
     position: absolute;
     right: 156px;
     top: 70px;
     border-radius: 10px;
     font-size: 18px;
     border: none;
     background: none;
 }
 
 .riceCropDetail  .closeSearch5 {
     display: none;
     width: 110%;
     margin: 0 auto 10px auto;
     padding: 10px 20px;
     color: white;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
       rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
   }
 
.riceCropDetail  .openSearch5 {
     display:inline-block;
     position:absolute;
     left: 62%;
     top: 14%;
     z-index: 2;
     width: 26%;
     background-color: #FAFAFC;
     border-radius: 5px;
     z-index: 1;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
       rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
 }
 
 .riceCropDetail  .item {
     background-color: none;
     cursor: pointer;
     bottom: 0.1px;
     color: #1C1C1F;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     padding: 0.1px;
     margin: 0.2px;
 }
 
 .riceCropDetail .item:hover {
     background-color: none;
     cursor: pointer;
     bottom: 0.1px;
     background-color: #EAEAEA;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
 }
 
 .outside {
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0px;
     left: 0px;
 }
.riceCropDetail table thead tr {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     color: #1C1C1F;
     border-top: 1px solid #B3B4BA !important;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
     background: #FAFAFC;
     font-size: 17px;
     height: min-content;
}

.riceCropDetail table tbody tr {
     font-family: 'Roboto';
     color: #1C1C1F;
     background: #FAFAFC;
}

.riceCropDetail table tbody tr:hover {
     font-family: 'Roboto';
     color: #1C1C1F;
     background: #e8e8e8;
}

/* .my-custom-scrollbar {
     position: relative;
     max-height: 260px;
     overflow: auto;
     background: #FAFAFC;
     border: none;
} */


.riceCropDetail .tableFixHead {
     overflow: auto;
     height: 260px;
     width: 100%;
     margin-top: 30px;
}

.riceCropDetail .tableFixHead thead th {
     position: sticky;
     top: 0;
     z-index: 0;
     background: #FAFAFC;
}

.riceCropDetail .tableFixHead tbody th {
     position: sticky;
     left: 0;
     border-bottom: 1px solid #B3B4BA !important;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/* Just common table stuff. Really. */
.riceCropDetail table {
     border-collapse: collapse;
     width: 100%;
}

.riceCropDetail th,
.riceCropDetail td {
     padding: 2px 2px;
     white-space: nowrap;
}

.riceCropDetail th {
     background: #eee;
}

.riceCropDetail table thead tr {
     background-color: none !important;
}


.riceCropDetail .ricecropTable{
          height: min-content;
          width: 98.5% !important;
          background: #FAFAFC !important;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.riceCropDetail .ricecropTable tbody tr:hover {
     color: #1C1C1F;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     background-color: #8e0f0f;
}

.riceCropDetail .ricecropTable thead tr th {
     vertical-align: middle;
}

.riceCropDetail .ricecropTable tbody tr {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 15px;
     border-bottom: 0.1px solid #f4f5f6 !important;
}

.riceCropDetail .ricecropTable tbody tr td {
     font-family: 'Roboto' !important;
     font-style: normal;
     vertical-align: middle;
     border-bottom: 0.5px solid #cbcccf !important;
     padding-left: 5px !important;
     vertical-align: middle !important;
     font-size: 14px;
     text-align: justify;
     padding: 10px;
}

@media only screen and (max-width: 760px) {
     .riceCropDetail .ricecropTable {
          border: none !important;
          width: 97% !important;
          margin-left: 8px !important;
     }

     .riceCropDetail .ricecropTable,
     .riceCropDetail .ricecropTable thead,
     .riceCropDetail .ricecropTable tbody,
     .riceCropDetail .ricecropTable th,
     .riceCropDetail .ricecropTable td,
     .riceCropDetail .ricecropTable tr {
          display: block;
     }

     .riceCropDetail .ricecropTable thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
     }

     .riceCropDetail .ricecropTable tr {
          border: 1px solid #ccc;
          height: min-content !important;
          margin-bottom: 20px;
     }

     .riceCropDetail .ricecropTable td {
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          height: max-content !important;
          width: 100% !important;
          padding-bottom: 10px;
          font-family: 'Roboto';
          font-style: normal;
          text-align: justify;
     }

     .riceCropDetail .ricecropTable td:before {
          white-space: nowrap;
     }

}

.riceCropDetail .riceCropInfor{
     background-color: #FFFED8;
     border-radius: 8px;
     padding-left: 3px;
}

.riceCropDetail .riceCropInfor .infor{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 17px;
     line-height: 23px;
     color: #2F3033;
}

.riceCropDetail .riceCropInfor .title{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 23px;
     color: #2F3033;
}
.riceCropDetail .navigationBar .btnMonitor {
     display: block;
     font-size: 16px;
     background: #FFFA37;
     width: 88%;
     box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
     border-radius: 20px;
     border-radius: 14px;
     color: #5C5D22;
     border: none;
     font-family: 'Roboto';
     font-style: normal;
 }