.riceCropManagement .createRiceCropForm {
    border: 0.5px solid #b8b5b5;
    border-radius: 10px;
    position: absolute;
    top: calc(18%);
    left: 8%;
    width: 80%;
    height: max-content;
}

.riceCropDetail .updateRiceCropForm {
    background-color: #dbdbdb;
    border: 0.5px solid #b8b5b5;
    font-family: Inter;
    border-radius: 10px;
    position: absolute;
    top: calc(18%);
    left: 8%;
    width: 80%;
    height: max-content;
    z-index: 4;
}

.calendaer {
    font-size: 17px;
    height: 38px !important;
    border-radius: 15px !important;
}

.fertilizerManagement {
    position: relative;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList {
    height: 540px;
    margin-bottom: 2px;
    overflow: auto;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 2px;
}

.riceCropManagement .riceCropManagemenFrame .rightRiceCropManagement .riceCropList .btnMonitor {
    width: 120px;
    font-size: 16px;
    background-color: aquamarine;
}

.riceCropManagement .navigationBar .btnMonitor {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}



@media screen and (max-width: 1430px) {
    .riceCropList{
        margin-left: -5px !important;
        width: 100% !important;
        margin-right:0 !important;
    }
}

.riceCropList .col-md-3{
    margin-right: 2px !important;
}