.seedManagement .createSeedForm,
.seedManagement .updateSeedForm {
     background-color: #b7f8d0;
     font-family: Inter;
     border-radius: 10px;
     position: absolute;
     top: calc(10%);
     left: 25%;
     max-width: 50%;
}



.seedManagement .navbar .btnSeed {
     display: block;
     width: 94%;
     font-size: 17px;
     background-color: #FFFA37;
     color: #5C5D22;
     border: none;
     font-family: Inter;
     border-radius: 14px;
}

.outside {
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0px;
     left: 0px;
 }