.riceCropDetail .createSprayingTimesForm,
.riceCropDetail .updateArableLandForm {
    margin:auto ;
    padding: 20px;
    background: #FAFAFC;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(37.5px);
    border-radius: 5px;
    width: 80%;
    position: relative;
    top:60px;
    transition: all 5s ease-in-out;
}

@media only screen and (max-width: 1430px) {
    .riceCropDetail .createSprayingTimesForm,
    .riceCropDetail .updateArableLandForm {
        left: 10%;
    }
}

.pesticideUsed {
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 210px;
}

.pesticidelist {
    overflow: auto;
    max-height: 160px;
    min-height: 160px;
    white-space: nowrap;
    width: 98%;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: 1%;
}

.createSprayingTimesForm .pesticidelist table thead {
    position: sticky;
    top: 0;
    z-index: 0;
    border-bottom: 0.5px solid #b5b5b7;
    padding-left: 10px !important;
    vertical-align: middle !important;
}

.createSprayingTimesForm .btnAddPesticide {
    border-radius: 5px;
    background: #008B8E;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'Roboto';
    border: none;
    color: #FFFED8;
    z-index: 1;
    float: right;
    width: 60px;
    height: 30px;
    position: absolute;
    right: 4.5%;
}

.selectionPesticide {
    width: 90% !important;
    margin-right: 2%;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.inputAmount {
    width: 97% !important;
    margin-right: 2%;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.content .error-feedback {
    color: red;
    float: right;
}

.content .form-group label {
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.content .form-group .selectBox {
    width: 100%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.content .form-group input {
    float: left;
}

.content .form-group .form-control {
    background-color: #FAFAFC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    border-radius: 14px;
    color: #2F3033;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    height: 35px;
    vertical-align: middle;
}

.functionName {
    font-family: 'Roboto';
    font-size: 24px;
}

.form-group .textMessage1,
.form-group .textMessage2 {
    text-align: center;
    display: inline;
    font-size: 18px;
    font-family: 'Roboto';
}
