.StatisticalManagement .navigationBar .btnStatistical {
    display: block;
    width: 88%;
    font-size: 17px;
    background-color: #FFFA37;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
    font-family: 'Roboto';
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.statisticalComponent {
    background-color: azure;
    border-radius: 8px;
    margin-left: 16px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.amount {
    border-radius: 50%;
    background-color: #FFFA37;
}

.nameComponent {
    background-color: #c8cecb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Roboto';
}

.inputSearch4 {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    width: 80% !important;
    height: 35px;
    margin-left: 20px;
    margin-top: 5px;
    font-family: 'Roboto';
}

.btnSearch4 {
    position: absolute;
    border-radius: 10px;
    border: none;
    background: none;
    right: 9%;
    top: 15.5%;
    font-family: 'Roboto';
}

.closeSearch4 {
    display: none;
}

.openSearch4 {
    display: inline-block;
    position: absolute;
    left: 53%;
    top: 20%;
    width: 38%;
    max-height: 150px;
    overflow: hidden;
    background-color: #FAFAFC;
    border-radius: 5px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.statisticsByRiceCrop .leftStatistical {
    width: 49%;
    border: 3px solid #c8cecb;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.statisticsByRiceCrop .statisticalBy label {
    margin-bottom: 1px !important;
    margin-top: 4px !important;
    font-family: 'Roboto';
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden !important; */
}

.statisticsByRiceCrop .rightStatistical {
    width: 49%;
    margin-left: 2%;
    border: 3px solid #c8cecb;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.scrollStatisticalTable {
    overflow: auto !important;
    max-height: 400px !important;
    width: 100% !important;
    margin-top: 10px !important;
}

.scroll {
    overflow: auto !important;
    height: 445px;
    position: relative;
    background-color: #FFFFFF;
    margin-left: 20px;
}

.btnDowload {
    float: right;
    background-color: #c8cecb;
    position: sticky;
}

.scrollChoose {
    height: 128px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.statisticTable {
    width: 100%;
    padding: none !important;
}

.statisticTable tr td {
    word-wrap: normal;
    padding: 2px 8px 2px 8px;
    border-top: solid 0.1px #c8cecb;
    font-size: 14px;
    font-family: 'Roboto';
}

.statisticTable tr th {
    padding: 8px 8px 8px 10px;
    font-family: 'Roboto';
}

.arablelandScroll {
    height: 128px;
    overflow: auto;
    margin-top: 2px;
    word-wrap: none;
    width: 98%;
    margin-left: 0.5%;
    padding-left: 20px;
}

.cicle {
    width: 170px;
    background-color: #EAEAEA;
    height: 170px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 6%;
    vertical-align: middle;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.arablename {
    background-color: none;
    cursor: pointer;
    bottom: 0.1px;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    padding: 0.1px;
}

.statisticsByRiceCrop .statisticalBy {
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 12px;
}

.amountFertilizer {
    font-size: 50px;
}

.label_statictical {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
}

.label_statictical_content{
    font-family: 'Roboto';
    font-size: 16px !important;
    font-weight: 500;
}

@media only screen and (max-width: 1430px) {
    .statisticsByRiceCrop .statisticalBy {
        margin-left: 10px !important;
        margin-right: 4px !important;
        border-radius: 10px;
    }

    .scroll {
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .statisticalComponent {
        width: 100% !important;
        height: 100% !important;
        vertical-align: middle;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .cicle {
        width: 70%;
        background-color: #EAEAEA;
        height: 70%;
    }

    .inputSearch4 {
        width: 80% !important;
    }

    .label_statictical {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .label_statictical_content{
        font-family: 'Roboto';
        font-size: 14px !important;
        font-weight: 500;
    }

    .statisticsByRiceCrop .statisticalBy label {
        margin-bottom: 1px !important;
        margin-top: 4px !important;
        font-family: 'Roboto';
        font-size: 13px;
    }

    .statisticTable {
        width: max-content !important;
    }
    .statisticTable tr td {
        font-size: 13px !important;
    }
    
    .statisticTable tr th {
        padding: 8px 8px 8px 10px;
        font-size: 14px !important;
    }
    .statisticsByRiceCrop .leftStatistical {
        width: 45%;
        display: inline-block;
        border-right: 3px solid #c8cecb;
        padding-right: 10px;
    }

    .statisticsByRiceCrop .rightStatistical {
        width: 53%;
        display: inline-block;
        padding-left: 10px;
    }

    .arablelandScroll {
        height: 128px;
        overflow: auto;
        margin-top: 2px;
        word-wrap: none;
        width: 100% !important;
        margin-left: 0.5%;
        background-color: #FFFFFF;
        padding-left: 2px;
    }

    .inputSearch4 {
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px !important;
        width: 92% !important;
        height: 30px;
        margin-left: 2px !important;
        font-size: 13px !important;
    }

    .btnSearch4 {
        position: absolute;
        border-radius: 10px;
        border: none;
        background: none;
        right: 4%;
        top: 114px;
    }

    .closeSearch4 {
        display: none;
    }

    .openSearch4 {
        display: inline-block;
        position: absolute;
        left: 50% !important;
        top: 19%;
        width: 46%;
        max-height: 140px;
        overflow: hidden;
        background-color: #FAFAFC;
        border-radius: 5px;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    .arablename {
        background-color: none;
        cursor: pointer;
        bottom: 0.1px;
        color: black;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400 !important;
        font-size: 13px !important;
        padding: 0.1px;
    }

}


.StatisticalManagement .navigationBar .btnStatistical {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}