.StatisticalManagement .navigationBar .btnStatistical {
    display: block;
    width: 88%;
    font-size: 17px;
    background-color: #FFFA37;
    color: #5C5D22;
    border: none;
    font-family: Inter;
    border-radius: 14px;
    font-family: 'Roboto';
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.statistical-Component {
    border-radius: 10px;
    margin-right: 6%;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #FAFAFC;
    width: 44%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.amount {
    border-radius: 50%;
    background-color: #FFFA37;
}

.nameComponent {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #5C5D22;
    text-shadow: 4px 7px 7px rgba(0, 0, 0, 0.25);
}

.inputSearch4 {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 92% !important;
    height: 35px;
    margin-left: 20px;
    margin-top: 5px;
    font-family: 'Roboto';
    border-radius: 12px !important;
}

.btnSearch4 {
    position: absolute;
    border-radius: 10px;
    border: none;
    background: none;
    right:40px;
    top: 110px;
    font-family: 'Roboto';
}

.closeSearch4 {
    display: none;
}

.statisticsByRiceCrop .openSearch4 {
    display: inline-block;
    position: absolute;
    left: 52.8%;
    top: 145px;
    width: 45%;
    max-height: 150px;
    overflow: hidden;
    background-color: #FAFAFC;
    border-radius: 5px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.statisticsByRiceCrop .leftStatistical {
    width: 48%;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding-left: 20px !important;
}

.statisticsByRiceCrop .leftStatistical .nonecheckedCrop {
    appearance: none;
    pointer-events: none;
    background: #E4E5EB;
    border: 1px solid #FAFAFC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 16px;
    height: 16px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.statisticsByRiceCrop .leftStatistical .checkedCrop {
    background: #E4E5EB !important;
    border: 1px solid #FAFAFC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 16px;
    height: 16px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.statisticsByRiceCrop .leftStatistical .checkedCrop:checked {
    accent-color: #FFFA37 !important;
    flood-color: #5C5D22;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    color: #1111a1;
}


.statisticsByRiceCrop .statisticalBy label {
    margin-bottom: 1px !important;
    margin-top: 4px !important;
    font-family: 'Roboto';
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #2F3033;
    /* overflow: hidden !important; */
}

.statisticsByRiceCrop .noneBlurCrop{
    color: #2F3033 !important;
}

.statisticsByRiceCrop .blurCrop{
    color: #B3B4BA !important;
}
.statisticsByRiceCrop .rightStatistical {
    width: 49%;
    margin-left: 2%;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.statisticsByRiceCrop .openRightStatistical{
    background: #E4E5EB !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.scrollStatisticalTable {
    overflow: auto !important;
    max-height: 400px !important;
    width: 97% !important;
    margin-top: 15px !important;
    margin-left: 1.7%;
}

.scroll {
    overflow: auto !important;
    height: 445px;
    position: relative;
    background-color: #FFFFFF;
    margin-left: 20px;
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.btnDowload {
    float: right;
    background-color: #c8cecb;
    position: sticky;
}

.scrollChoose {
    height: 128px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.statisticTable {
    width: 100%;
    padding: none !important;
}

.statisticTable tr td {
    font-family: 'Roboto' !important;
    font-style: normal;
    vertical-align: middle;
    border-bottom: 0.1px solid #B3B4BA;
    padding-left: 5px !important;
    vertical-align: middle !important;
    font-size: 14px !important;
    text-align: justify;
    padding: 6px;
    color: #1C1C1F;
}

.statisticTable tr th {
    padding: 8px 8px 8px 10px;
    font-family: 'Roboto';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.statisticsByRiceCrop .arablelandScroll {
    height: 128px;
    overflow: auto;
    margin-top: 2px;
    word-wrap: none;
    width: 98%;
    margin-left: 0.5%;
    padding-left: 20px;
}

.cicle {
    width: 170px;
    background-color: #ABD2C8;
    height: 170px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2% !important;
    vertical-align: middle;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.statisticsByRiceCrop .openSearch4 .arablename {
    bottom: 0.1px;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    padding: 0.1px;
    background-color: #eaeaea !important;
}

.statisticsByRiceCrop .openSearch4 .arablename:hover {
    bottom: 0.1px;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    padding: 0.1px;
    background-color: #c4c5c8 !important;
}

.statisticsByRiceCrop .statisticalBy {
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 12px;
}

.statisticsByRiceCrop  .arablename{
        bottom: 0.1px;
        color: #2F3033;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px !important;
        padding: 0.1px;
       font-weight: 400;
}

.amountFertilizer {
    font-size: 50px;
    color: #5C5D22;
}

.label_statictical {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
}

.label_statictical_content {
    font-family: 'Roboto';
    font-size: 16px !important;
    font-weight: 500;
}

.col-satisticByYield {
    background: #FAFAFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: max-content;
}

.row-satisticByYield {
    background: #E4E5EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.row-satisticByYield .title{
    background-color: none;
    cursor: pointer;
    bottom: 0.1px;
    color: rgb(55, 61, 63);
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px !important;
    padding: 0.1px;
    display: inline;
}

.row-satisticByYield .value{
    bottom: 0.1px;
    color: rgb(46, 48, 49);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    padding: 0.1px;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.apexchart{
    width: 100%;
}
@media only screen and (max-width: 1430px) {
    .statisticsByRiceCrop .statisticalBy {
        margin-left: 10px !important;
        margin-right: 4px !important;
        border-radius: 10px;
    }

    .scroll {
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .statistical-Component {
        width: 250px !important;
        height: 250px !important;
        vertical-align: middle;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-left: 8%;
    }


    .cicle {
        width: 70%;
        background-color: #EAEAEA;
        height: 70%;
    }

    .inputSearch4 {
        width: 80% !important;
    }

    .label_statictical {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .label_statictical_content {
        font-family: 'Roboto';
        font-size: 14px !important;
        font-weight: 500;
    }

    .statisticsByRiceCrop .statisticalBy label {
        margin-bottom: 1px !important;
        margin-top: 4px !important;
        font-family: 'Roboto';
        font-size: 13px;
    }

    .statisticTable {
        width: max-content !important;
    }

    .statisticTable tr td {
        font-size: 13px !important;
    }

    .statisticTable tr th {
        padding: 8px 8px 8px 10px;
        font-size: 14px !important;
    }

    .statisticsByRiceCrop .leftStatistical {
        width: 45%;
        display: inline-block;
        border-right: 3px solid #c8cecb;
        padding-right: 10px;
    }

    .statisticsByRiceCrop .rightStatistical {
        width: 53%;
        display: inline-block;
        padding-left: 10px;
    }

    .arablelandScroll {
        height: 128px;
        overflow: auto;
        margin-top: 2px;
        word-wrap: none;
        width: 100% !important;
        margin-left: 0.5%;
        background-color: #FFFFFF;
        padding-left: 2px;
    }

    .inputSearch4 {
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #EAEAEA;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px !important;
        width: 92% !important;
        height: 30px;
        margin-left: 2px !important;
        font-size: 13px !important;
    }

    .btnSearch4 {
        position: absolute;
        border-radius: 10px;
        border: none;
        background: none;
        left: 92%;
        top: 109px;
    }

    .closeSearch4 {
        display: none;
    }

    .openSearch4 {
        display: inline-block;
        position: absolute;
        left: 50% !important;
        top: 19%;
        width: 47%;
        max-height: 140px;
        overflow: hidden;
        background-color: #FAFAFC;
        border-radius: 5px;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    .arablename {
        background-color: none;
        cursor: pointer;
        bottom: 0.1px;
        color: #2F3033;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400 !important;
        font-size: 13px !important;
        padding: 0.1px;
    }

}

.StatisticalManagement .navigationBar .btnStatistical {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}

.statisticsByRiceCrop .navigationBar .btnStatistical {
    display: block;
    width: 88%;
    font-size: 17px;
    background: #FFFA37;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #5C5D22;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 14px;
}